<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- title -->
    <title>Filenet</title>
    <!-- seo -->
    <meta name="keywords" content="filecoin,云存储,filecoin挖矿,ipfs,filenet,区块链云存储,ipfs矿机,ipfs矿工,ipfs挖矿" />
    <meta name="description"
        content="filenet.io社区Filenet与IPFS一起构成一个完整的产品。Filenet是构建在IPFS协议之上的激励层，它的底层功能包括分布式存储和分布式网络等,通过相应的命令行，即可实现对挖矿程序参数的配置、数据的上传、下载等。Filenet与IPFS一起构成一个完整的产品。">
    <!-- favicon -->
    <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> -->
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
    <!-- css -->
    <link rel="stylesheet" href="../static/css/aos.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/filenet_new.css">
    <!-- iconfont -->
    <link rel="stylesheet" href="../static/iconfont/iconfont.css">
</head>

<body>
    <!-- header -->
    <div class="header wallet_header">
        <div class="w1200">
            <h1 class="logo noselect">
                <a href="./index_EN.html">
                    <img src="../static/images/logo.png">
                </a>
            </h1>
            <ul class="list noselect list_en">
                <li class="home">
                    <a href="./index_EN.html">Home</a>
                </li>
                <li class="applyxiala">Tools <i class="iconfont icon-xiala1"></i> <i
                        class="iconline applyiconline iconline_en"></i>
                    <div class="moreapply noselect wallet_moreapply wallet_head_tools_en">
                        <a href="./wallet_EN.html">FN wallet</a>
                        <a href="./client_EN.html">FN minimg program</a>
                        <a href="./fullnode_EN.html">PC full node wallet</a>
                    </div>
                </li>
                <li class="applyxiala">Consensus Mechanism <i class="iconfont icon-xiala1"></i> <i
                        class="iconline applyiconline iconline_en"></i>
                    <div class="moreapply noselect wallet_moreapply wallet_head_cm_en">
                        <a href="./packagingnodes_EN.html">Packaging Nodes</a>
                        <a href="./supernode_EN.html">Super Nodes</a>
                        <a href="./managementact_EN.html">Community</a>
                    </div>
                </li>
                <li class="announce">
                    <a href="./informationcenter_EN.html">Info</a>
                </li>
                <li class="applyxiala">Ecosystem <i class="iconfont icon-xiala1"></i> <i
                        class="iconline applyiconline iconline_en"></i>
                    <div class="moreapply noselect wallet_moreapply">
                        <a href="https://www.ztiao.club" target="_blank">ZTiao</a>
                        <a href="./fogcomputing_EN.html" target="_blank">Fog Computing</a>
                    </div>
                </li>
                <li class="scan">
                    <a href="http://scan.filenet.io/#/" target="_blank">Browser</a>
                </li>
                <li class="langxiala">English <i class="iconfont icon-xiala1"></i> <i class="iconline langiconline"></i>
                    <div class="morelang noselect wallet_morelang">
                        <a href="./client_CH.html">简体中文</a>
                        <a href="./client_Kr.html">한국어</a>
                        <a href="./client_JP.html">日本語</a>
                        <a href="./client_RUS.html">русский</a>
                    </div>
                </li>
            </ul>
            <!-- fit -->
            <div class="header_more">
                <i class="iconfont icon-gengduo"></i>
            </div>
            <div class="header_more_box header_more_box_other">
                <a href="./index_EN.html">Home</a>
                <div pull-id="1" class="header_more_box_applyxiala header_more_box_xiala">Tools <i
                        class="iconfont icon-xiala1 myxiala myxiala_tools_en"></i>
                </div>
                <div class="header_more_box_moreapply header_more_box_pull">
                    <a href="./wallet_EN.html">FN wallet</a>
                    <a href="./client_EN.html">FN minimg program</a>
                    <a href="./fullnode_EN.html">PC full node wallet</a>
                </div>
                <div pull-id="2" class="header_more_box_applyxiala header_more_box_xiala">Consensus Mechanism <i
                        class="iconfont icon-xiala1 myxiala myxiala_cm_en"></i>
                </div>
                <div class="header_more_box_moreapply header_more_box_pull">
                    <a href="./packagingnodes_EN.html">Packaging Nodes</a>
                    <a href="./supernode_EN.html">Super Nodes</a>
                    <a href="./managementact_EN.html">Community</a>
                </div>
                <a href="./informationcenter_EN.html">Info</a>
                <div pull-id="3" class="header_more_box_applyxiala header_more_box_xiala">Ecosystem <i
                        class="iconfont icon-xiala1 myxiala myxiala_eco_en"></i>
                </div>
                <div class="header_more_box_moreapply header_more_box_pull">
                    <a href="https://www.ztiao.club" target="_blank">ZTiao</a>
                    <a href="./fogcomputing_EN.html" target="_blank">Fog Computing</a>
                </div>
                <a href="http://scan.filenet.io/#/" target="_blank">Browser</a>
                <div pull-id="4" class="header_more_box_langxiala header_more_box_xiala">English <i
                        class="iconfont icon-xiala1 myxiala myxiala_lang myxiala_lang_en"></i>
                </div>
                <div class="header_more_box_morelang header_more_box_pull">
                    <a href="./client_CH.html">简体中文</a>
                    <a href="./client_Kr.html">한국어</a>
                    <a href="./client_JP.html">日本語</a>
                    <a href="./client_RUS.html">русский</a>
                </div>
            </div>
        </div>
    </div>


    <!-- top -->
    <div class="client_top">
        <div class="w1200">
            <div class="client_introduction">
                <h1 data-aos="fade-up">Filenet mining client</h1>
                <p data-aos="fade-up" data-aos-delay="200" class="client_introduction_txt">
                    Filenet mining client is Filenet mining tool for super node and ordinary node. Various parameters of
                    mining equipment are determined and reliable data services are provided for Filenet main network by
                    correctly configuring relevant equipment and connecting
                    to the main network.
                </p>
                <a data-aos="fade-up" data-aos-delay="400" class="client_button client_button_en"
                    href="http://filenet.io/apkUrl/downloadZip?fileName=V2.0.2 Mining Course(1)_20190628223645.pdf">
                    <i class="download"></i> MINING TUTORIAL DOWNLOAD
                </a>
            </div>
            <div class="client_img" data-aos="fade-up" data-aos-delay="300">
                <img src="../static/images/client_img.png">
            </div>
        </div>
    </div>

    <!-- bottom -->
    <div class="client_bottom">
        <div class="w1200">
            <div class="client_bottom_version">
                <h2 data-aos="fade-up">VERSION DOWNLOAD <i class="iconline"></i> </h2>
                <div class="version_table" data-aos="fade-up" data-aos-delay="200">
                    <div class="version_table_top">VERSION</div>
                    <div class="version_table_top">RELEASE DATE</div>
                    <div class="version_table_top">DOWNLOAD</div>
                    <div class="version_table_bottom">v2.1.4</div>
                    <div class="version_table_bottom">December 05, 2019</div>
                    <div class="version_table_bottom">
                        <a class="version_table_bottom_download version_table_bottom_download_win64"
                            href="http://filenet.io/apkUrl/downloadZip?fileName=miner-win64-v2.1.4.zip">Win64</a>
                        <a class="version_table_bottom_download version_table_bottom_download_linux"
                            href="http://filenet.io/apkUrl/downloadZip?fileName=miner-linux-x86_64-v2.1.4.tar.gz">Linux</a>
                    </div>
                    <div class="version_table_bottom">v2.1.3</div>
                    <div class="version_table_bottom">July 10, 2019</div>
                    <div class="version_table_bottom">
                        <a class="version_table_bottom_download version_table_bottom_download_win64"
                            href="http://filenet.io/apkUrl/downloadZip?fileName=miner-win64-v2.1.3.zip">Win64</a>
                        <a class="version_table_bottom_download version_table_bottom_download_linux"
                            href="http://filenet.io/apkUrl/downloadZip?fileName=miner-linux-x86_64-v2.1.3.tar.gz">Linux</a>
                    </div>
                </div>
                <!-- fit -->
                <div class="version_table_shipei" data-aos="fade-up" data-aos-delay="200">
                    <div class="version_table_left">VERSION</div>
                    <div class="version_table_right">v2.1.4</div>
                    <div class="version_table_left">RELEASE DATE</div>
                    <div class="version_table_right">December 05, 2019</div>
                    <div class="version_table_left">DOWNLOAD</div>
                    <div class="version_table_right">
                        <a class="version_table_bottom_download version_table_bottom_download_win64"
                            href="http://filenet.io/apkUrl/downloadZip?fileName=miner-win64-v2.1.4.zip">Win64</a>
                        <a class="version_table_bottom_download version_table_bottom_download_linux"
                            href="http://filenet.io/apkUrl/downloadZip?fileName=miner-linux-x86_64-v2.1.4.tar.gz">Linux</a>
                    </div>
                </div>
                <div class="version_table_shipei" data-aos="fade-up" data-aos-delay="400">
                    <div class="version_table_left">VERSION</div>
                    <div class="version_table_right">v2.1.3</div>
                    <div class="version_table_left">RELEASE DATE</div>
                    <div class="version_table_right">July 10, 2019</div>
                    <div class="version_table_left">DOWNLOAD</div>
                    <div class="version_table_right">
                        <a class="version_table_bottom_download version_table_bottom_download_win64"
                            href="http://filenet.io/apkUrl/downloadZip?fileName=miner-win64-v2.1.3.zip">Win64</a>
                        <a class="version_table_bottom_download version_table_bottom_download_linux"
                            href="http://filenet.io/apkUrl/downloadZip?fileName=miner-linux-x86_64-v2.1.3.tar.gz">Linux</a>
                    </div>
                </div>
            </div>
            <div class="client_bottom_use">
                <h2 data-aos="fade-up">How to use the mining course? <i class="iconline"></i> </h2>
                <div class="use_step" data-aos="fade-up" data-aos-delay="200">
                    <div class="use_step_box">
                        <img src="../static/images/client_Step 1icon.png">
                        <p class="use_step_box_title">Step 1</p>
                        <p class="use_step_box_txt">Turn on the miner and connect to the network. Each miner or storage
                            device requires at least one Filenet token for the mining tutorial to be used after account
                            startup.
                        </p>
                    </div>
                    <div class="use_step_box">
                        <img src="../static/images/client_Step 1icon.png">
                        <p class="use_step_box_title">Step 2</p>
                        <p class="use_step_box_txt">Conduct mining parameter configuration, please see mining tutorial
                            for details.</p>
                    </div>
                    <div class="use_step_box">
                        <img src="../static/images/client_Step 1icon.png">
                        <p class="use_step_box_title">Step 3</p>
                        <p class="use_step_box_txt">After successful configuration, you can dig filenet. See blockchain
                            browser or fn wallet for mining revenue.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- foot -->
    <div class="wallet_footer">
        <div class="w1200">
            <p>© Copyright 2016-2020 filenet.io</p>
        </div>
    </div>

    <div style="display: none;">
        <script type="text/javascript" src="https://s9.cnzz.com/z_stat.php?id=1278307264&web_id=1278307264"></script>
    </div>
</body>

<!-- js -->
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/aos.js"></script>
<script src="../static/js/aosindex.js"></script>
<script src="../static/js/common.js"></script>

</html>