<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- title -->
    <title>Filenet</title>
    <!-- seo -->
    <meta name="keywords" content="filecoin,云存储,filecoin挖矿,ipfs,filenet,区块链云存储,ipfs矿机,ipfs矿工,ipfs挖矿" />
    <meta name="description"
        content="filenet.io社区Filenet与IPFS一起构成一个完整的产品。Filenet是构建在IPFS协议之上的激励层，它的底层功能包括分布式存储和分布式网络等,通过相应的命令行，即可实现对挖矿程序参数的配置、数据的上传、下载等。Filenet与IPFS一起构成一个完整的产品。">
    <!-- favicon -->
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
    <!-- css -->
    <link rel="stylesheet" href="../static/css/aos.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/filenet_new.css">
    <!-- iconfont -->
    <link rel="stylesheet" href="../static/iconfont/iconfont.css">
</head>

<body>
    <!-- header -->
    <div class="header wallet_header">
        <div class="w1200">
            <h1 class="logo noselect">
                <a href="./index_Kr.html">
                    <img src="../static/images/logo.png">
                </a>
            </h1>
            <ul class="list noselect">
                <li class="home">
                    <a href="./index_Kr.html">홈</a>
                </li>
                <li class="applyxiala">신청 <i class="iconfont icon-xiala1"></i> <i class="iconline applyiconline"></i>
                    <!-- app -->
                    <div class="moreapply noselect wallet_moreapply">
                        <a href="./wallet_Kr.html">FN지갑</a>
                        <a href="./client_Kr.html">FN마이닝프로그램</a>
                        <a href="./fullnode_Kr.html">PC풀노드지갑</a>
                    </div>
                </li>
                <li class="announce">
                    <a href="./informationcenter_Kr.html">안내소</a>
                </li>
                <li class="applyxiala">비즈니스 생태 <i class="iconfont icon-xiala1"></i> <i
                        class="iconline applyiconline"></i>
                    <!-- app -->
                    <div class="moreapply noselect wallet_moreapply">
                        <a href="https://www.ztiao.club" target="_blank">ZTiao</a>
                        <a href="./fogcomputing_EN.html" target="_blank">Fog Computing</a>
                    </div>
                </li>
                <li class="announce">
                    <a href="http://scan.filenet.io/#/" target="_blank">브라우저</a>
                </li>
                <li class="langxiala">한국어 <i class="iconfont icon-xiala1"></i> <i class="iconline langiconline"></i>
                    <!-- lang -->
                    <div class="morelang noselect wallet_morelang">
                        <a href="./client_EN.html">English</a>
                        <a href="./client_CH.html">简体中文</a>
                        <a href="./client_JP.html">日本語</a>
                        <a href="./client_RUS.html">русский</a>
                    </div>
                </li>
            </ul>
            <!-- fit -->
            <div class="header_more">
                <i class="iconfont icon-gengduo"></i>
            </div>
            <div class="header_more_box header_more_box_other">
                <a href="./index_Kr.html">홈</a>
                <div pull-id="1" class="header_more_box_applyxiala header_more_box_xiala">신청 <i
                        class="iconfont icon-xiala1 myxiala"></i>
                </div>
                <div class="header_more_box_moreapply header_more_box_pull">
                    <a href="./wallet_Kr.html">FN지갑</a>
                    <a href="./client_Kr.html">FN마이닝프로그램</a>
                    <a href="./fullnode_Kr.html">PC풀노드지갑</a>
                </div>
                <a href="./informationcenter_Kr.html">안내소</a>
                <div pull-id="2" class="header_more_box_applyxiala header_more_box_xiala">비즈니스 생태 <i
                        class="iconfont icon-xiala1 myxiala myxiala_eco_Kr"></i>
                </div>
                <div class="header_more_box_moreapply header_more_box_pull">
                    <a href="https://www.ztiao.club" target="_blank">ZTiao</a>
                    <a href="./fogcomputing_EN.html" target="_blank">Fog Computing</a>
                </div>
                <a href="http://scan.filenet.io/#/" target="_blank">브라우저</a>
                <div pull-id="3" class="header_more_box_langxiala header_more_box_xiala">한국어 <i
                        class="iconfont icon-xiala1 myxiala myxiala_lang"></i>
                </div>
                <div class="header_more_box_morelang header_more_box_pull">
                    <a href="./client_EN.html">English</a>
                    <a href="./client_CH.html">简体中文</a>
                    <a href="./client_JP.html">日本語</a>
                    <a href="./client_RUS.html">русский</a>
                </div>
            </div>
        </div>
    </div>

    <!-- top -->
    <div class="client_top">
        <!-- content -->
        <div class="w1200">
            <!-- left -->
            <div class="client_introduction">
                <h1 data-aos="fade-up">파일 넷 마이닝 클라이언트</h1>
                <p data-aos="fade-up"  data-aos-delay="200" class="client_introduction_txt">
                    Filenet 마이닝 클라이언트는 Filenet이 수퍼 노드와 공용 노드를 위해 만든 마이닝 도구입니다. 올바른 구성 명령을 사용하면 설정이 완료된 후 기본 네트워크에 액세스하여
                    마이닝을 시작할 수 있습니다. 마이닝 기계가 광업의 즐거움을 경험하도록 구성합시다.
                </p>
                <a data-aos="fade-up"  data-aos-delay="400" class="client_button client_button_Kr"
                    href="http://filenet.io/apkUrl/downloadZip?fileName=V2.0.2 Mining Course(1)_20190628223645.pdf">
                    <i class="download"></i> 마이닝 튜토리얼 다운로드
                </a>
            </div>
            <div class="client_img" data-aos="fade-up" data-aos-delay="300">
                <img src="../static/images/client_img.png">
            </div>
        </div>
    </div>

    <!-- bottom -->
    <div class="client_bottom">
        <div class="w1200">
            <!-- version -->
            <div class="client_bottom_version">
                <h2 data-aos="fade-up">버전 다운로드 <i class="iconline"></i> </h2>
                <div class="version_table" data-aos="fade-up"  data-aos-delay="200">
                    <div class="version_table_top">버전</div>
                    <div class="version_table_top">출시일</div>
                    <div class="version_table_top">다운로드</div>
                    <div class="version_table_bottom">v2.1.4</div>
                    <div class="version_table_bottom">2019 년 12 월 5 일</div>
                    <div class="version_table_bottom">
                        <a class="version_table_bottom_download version_table_bottom_download_win64"
                            href="http://filenet.io/apkUrl/downloadZip?fileName=miner-win64-v2.1.4.zip">Win64</a>
                        <a class="version_table_bottom_download version_table_bottom_download_linux"
                            href="http://filenet.io/apkUrl/downloadZip?fileName=miner-linux-x86_64-v2.1.4.tar.gz">Linux</a>
                    </div>
                    <div class="version_table_bottom">v2.1.3</div>
                    <div class="version_table_bottom">2019 년 7 월 10 일</div>
                    <div class="version_table_bottom">
                        <a class="version_table_bottom_download version_table_bottom_download_win64"
                            href="http://filenet.io/apkUrl/downloadZip?fileName=miner-win64-v2.1.3.zip">Win64</a>
                        <a class="version_table_bottom_download version_table_bottom_download_linux"
                            href="http://filenet.io/apkUrl/downloadZip?fileName=miner-linux-x86_64-v2.1.3.tar.gz">Linux</a>
                    </div>
                </div>
                <!-- fit -->
                <div class="version_table_shipei" data-aos="fade-up" data-aos-delay="200">
                    <div class="version_table_left">버전</div>
                    <div class="version_table_right">v2.1.4</div>
                    <div class="version_table_left">출시일</div>
                    <div class="version_table_right">2019 년 12 월 5 일</div>
                    <div class="version_table_left">다운로드</div>
                    <div class="version_table_right">
                        <a class="version_table_bottom_download version_table_bottom_download_win64"
                            href="http://filenet.io/apkUrl/downloadZip?fileName=miner-win64-v2.1.4.zip">Win64</a>
                        <a class="version_table_bottom_download version_table_bottom_download_linux"
                            href="http://filenet.io/apkUrl/downloadZip?fileName=miner-linux-x86_64-v2.1.4.tar.gz">Linux</a>
                    </div>
                </div>
                <div class="version_table_shipei" data-aos="fade-up" data-aos-delay="400">
                    <div class="version_table_left">버전</div>
                    <div class="version_table_right">v2.1.3</div>
                    <div class="version_table_left">출시일</div>
                    <div class="version_table_right">2019 년 7 월 10 일</div>
                    <div class="version_table_left">다운로드</div>
                    <div class="version_table_right">
                        <a class="version_table_bottom_download version_table_bottom_download_win64"
                            href="http://filenet.io/apkUrl/downloadZip?fileName=miner-win64-v2.1.3.zip">Win64</a>
                        <a class="version_table_bottom_download version_table_bottom_download_linux"
                            href="http://filenet.io/apkUrl/downloadZip?fileName=miner-linux-x86_64-v2.1.3.tar.gz">Linux</a>
                    </div>
                </div>
            </div>
            <!-- use -->
            <div class="client_bottom_use">
                <h2 data-aos="fade-up">마이닝 자습서 사용 방법? <i class="iconline"></i> </h2>
                <div class="use_step" data-aos="fade-up"  data-aos-delay="200">
                    <div class="use_step_box">
                        <img src="../static/images/client_Step 1icon.png">
                        <p class="use_step_box_title">Step 1</p>
                        <p class="use_step_box_txt">마이닝 머신을 열고 네트워크에 연결하십시오 각 마이닝 머신 또는 스토리지 장치는 계정을 시작하기 위해 적어도 하나의
                            Filenet 토큰이 필요합니다.</p>
                    </div>
                    <div class="use_step_box">
                        <img src="../static/images/client_Step 1icon.png">
                        <p class="use_step_box_title">Step 2</p>
                        <p class="use_step_box_txt">마이닝 매개 변수 구성에 대한 자세한 내용은 마이닝 자습서를 참조하십시오.</p>
                    </div>
                    <div class="use_step_box">
                        <img src="../static/images/client_Step 1icon.png">
                        <p class="use_step_box_title">Step 3</p>
                        <p class="use_step_box_txt">설정이 성공적으로 끝나면 filenet을 파헤 칠 수 있습니다. 광업 수익에 대해서는 블록 체인 브라우저 나 fn
                            wallet을 참조하십시오.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="wallet_footer">
        <div class="w1200">
            <p>© Copyright 2016-2020 filenet.io</p>
        </div>
    </div>

    <div style="display: none;">
        <script type="text/javascript" src="https://s9.cnzz.com/z_stat.php?id=1278307264&web_id=1278307264"></script>
    </div>

</body>

<!-- js -->
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/aos.js"></script>
<script src="../static/js/aosindex.js"></script>
<script src="../static/js/common.js"></script>

</html>