<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- title -->
    <title>Filenet</title>
    <!-- seo -->
    <meta name="keywords" content="filecoin,云存储,filecoin挖矿,ipfs,filenet,区块链云存储,ipfs矿机,ipfs矿工,ipfs挖矿" />
    <meta name="description"
        content="filenet.io社区Filenet与IPFS一起构成一个完整的产品。Filenet是构建在IPFS协议之上的激励层，它的底层功能包括分布式存储和分布式网络等,通过相应的命令行，即可实现对挖矿程序参数的配置、数据的上传、下载等。Filenet与IPFS一起构成一个完整的产品。">
    <!-- favicon -->
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
    <!-- css -->
    <link rel="stylesheet" href="../static/css/aos.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/filenet_new.css">
    <!-- iconfont -->
    <link rel="stylesheet" href="../static/iconfont/iconfont.css">
</head>

<body>
    <!-- header -->
    <div class="header wallet_header">
        <div class="w1200">
            <h1 class="logo noselect">
                <a href="./index_RUS.html">
                    <img src="../static/images/logo.png">
                </a>
            </h1>
            <ul class="list noselect">
                <li class="home">
                    <a href="./index_RUS.html">дома</a>
                </li>
                <li class="applyxiala">приложение <i class="iconfont icon-xiala1"></i> <i
                        class="iconline applyiconline"></i>
                    <!-- app -->
                    <div class="moreapply noselect moreapply_RUS wallet_moreapply">
                        <a href="./wallet_RUS.html">FN кошелек</a>
                        <a href="./client_RUS.html">Программа майнинга FN</a>
                        <a href="./fullnode_RUS.html">ПК полный узел кошелек</a>
                    </div>
                </li>
                <li class="announce">
                    <a href="./informationcenter_RUS.html">Информационный центр</a>
                </li>
                <li class="applyxiala">Экология бизнеса <i class="iconfont icon-xiala1"></i> <i
                        class="iconline applyiconline"></i>
                    <!-- app -->
                    <div class="moreapply noselect moreapply_RUS wallet_moreapply">
                        <a href="https://www.ztiao.club" target="_blank">ZTiao</a>
                        <a href="./fogcomputing_EN.html" target="_blank">Fog Computing</a>
                    </div>
                </li>
                <li class="announce">
                    <a href="http://scan.filenet.io/#/" target="_blank">браузер</a>
                </li>
                <li class="langxiala">русский <i class="iconfont icon-xiala1"></i> <i class="iconline langiconline"></i>
                    <!-- lang -->
                    <div class="morelang noselect wallet_morelang">
                        <a href="./client_EN.html">English</a>
                        <a href="./client_Kr.html">한국어</a>
                        <a href="./client_JP.html">日本語</a>
                        <a href="./client_CH.html">简体中文</a>
                    </div>
                </li>
            </ul>
            <!-- fit -->
            <div class="header_more">
                <i class="iconfont icon-gengduo"></i>
            </div>
            <div class="header_more_box header_more_box_other">
                <a href="./index_RUS.html">дома</a>
                <div pull-id="1" class="header_more_box_applyxiala header_more_box_xiala">приложение <i
                        class="iconfont icon-xiala1 myxiala myxiala_RUS"></i></div>
                <div class="header_more_box_moreapply header_more_box_pull">
                    <a href="./wallet_RUS.html">FN кошелек</a>
                    <a href="./client_RUS.html">Программа майнинга FN</a>
                    <a href="./fullnode_RUS.html">ПК полный узел кошелек</a>
                </div>
                <a href="./informationcenter_RUS.html">Информационный центр</a>
                <div pull-id="2" class="header_more_box_applyxiala header_more_box_xiala">Экология бизнеса <i
                        class="iconfont icon-xiala1 myxiala myxiala_eco_RUS"></i></div>
                <div class="header_more_box_moreapply header_more_box_pull">
                    <a href="https://www.ztiao.club" target="_blank">ZTiao</a>
                    <a href="./fogcomputing_EN.html" target="_blank">Fog Computing</a>
                </div>
                <a href="http://scan.filenet.io/#/" target="_blank">браузер</a>
                <div pull-id="3" class="header_more_box_langxiala header_more_box_xiala">русский <i
                        class="iconfont icon-xiala1 myxiala myxiala_lang"></i>
                </div>
                <div class="header_more_box_morelang header_more_box_pull">
                    <a href="./client_EN.html">English</a>
                    <a href="./client_Kr.html">한국어</a>
                    <a href="./client_JP.html">日本語</a>
                    <a href="./client_CH.html">简体中文</a>
                </div>
            </div>
        </div>
    </div>

    <!-- top -->
    <div class="client_top">
        <!-- content -->
        <div class="w1200">
            <!-- left -->
            <div class="client_introduction client_introduction_RUS">
                <h1 data-aos="fade-up">Клиент майнинга Filenet</h1>
                <p data-aos="fade-up" data-aos-delay="200" class="client_introduction_txt client_introduction_txt_RUS">
                    Клиент майнинга Filenet - это инструмент майнинга, созданный Filenet для суперузлов и общих узлов.
                    Используйте правильную команду конфигурации, после того как настройка прошла успешно, вы можете
                    получить доступ к основной сети, чтобы начать майнинг. Давайте
                    настроим майнинг-машину, чтобы испытать удовольствие от майнинга.
                </p>
                <a data-aos="fade-up" data-aos-delay="400" class="client_button client_button_RUS"
                    href="http://filenet.io/apkUrl/downloadZip?fileName=V2.0.2 Mining Course(1)_20190628223645.pdf">
                    <i class="download"></i> Скачать учебник по горному делу
                </a>
            </div>
            <div class="client_img" data-aos="fade-up" data-aos-delay="300">
                <img src="../static/images/client_img.png">
            </div>
        </div>
    </div>

    <!-- bottom -->
    <div class="client_bottom">
        <div class="w1200">
            <!-- version -->
            <div class="client_bottom_version">
                <h2 data-aos="fade-up">Версия скачать <i class="iconline"></i> </h2>
                <div class="version_table" data-aos="fade-up" data-aos-delay="200">
                    <div class="version_table_top">издание</div>
                    <div class="version_table_top">Дата выхода</div>
                    <div class="version_table_top">скачать</div>
                    <div class="version_table_bottom">v2.1.4</div>
                    <div class="version_table_bottom">05 декабря 2019 г.</div>
                    <div class="version_table_bottom">
                        <a class="version_table_bottom_download version_table_bottom_download_win64"
                            href="http://filenet.io/apkUrl/downloadZip?fileName=miner-win64-v2.1.4.zip">Win64</a>
                        <a class="version_table_bottom_download version_table_bottom_download_linux"
                            href="http://filenet.io/apkUrl/downloadZip?fileName=miner-linux-x86_64-v2.1.4.tar.gz">Linux</a>
                    </div>
                    <div class="version_table_bottom">v2.1.3</div>
                    <div class="version_table_bottom">10 июля 2019 г.</div>
                    <div class="version_table_bottom">
                        <a class="version_table_bottom_download version_table_bottom_download_win64"
                            href="http://filenet.io/apkUrl/downloadZip?fileName=miner-win64-v2.1.3.zip">Win64</a>
                        <a class="version_table_bottom_download version_table_bottom_download_linux"
                            href="http://filenet.io/apkUrl/downloadZip?fileName=miner-linux-x86_64-v2.1.3.tar.gz">Linux</a>
                    </div>
                </div>
                <!-- fit -->
                <div class="version_table_shipei" data-aos="fade-up" data-aos-delay="200">
                    <div class="version_table_left">издание</div>
                    <div class="version_table_right">v2.1.4</div>
                    <div class="version_table_left">Дата выхода</div>
                    <div class="version_table_right">05 декабря 2019 г.</div>
                    <div class="version_table_left">скачать</div>
                    <div class="version_table_right">
                        <a class="version_table_bottom_download version_table_bottom_download_win64"
                            href="http://filenet.io/apkUrl/downloadZip?fileName=miner-win64-v2.1.4.zip">Win64</a>
                        <a class="version_table_bottom_download version_table_bottom_download_linux"
                            href="http://filenet.io/apkUrl/downloadZip?fileName=miner-linux-x86_64-v2.1.4.tar.gz">Linux</a>
                    </div>
                </div>
                <div class="version_table_shipei" data-aos="fade-up" data-aos-delay="400">
                    <div class="version_table_left">издание</div>
                    <div class="version_table_right">v2.1.3</div>
                    <div class="version_table_left">Дата выхода</div>
                    <div class="version_table_right">10 июля 2019 г.</div>
                    <div class="version_table_left">скачать</div>
                    <div class="version_table_right">
                        <a class="version_table_bottom_download version_table_bottom_download_win64"
                            href="http://filenet.io/apkUrl/downloadZip?fileName=miner-win64-v2.1.3.zip">Win64</a>
                        <a class="version_table_bottom_download version_table_bottom_download_linux"
                            href="http://filenet.io/apkUrl/downloadZip?fileName=miner-linux-x86_64-v2.1.3.tar.gz">Linux</a>
                    </div>
                </div>
            </div>
            <!-- use -->
            <div class="client_bottom_use">
                <h2 data-aos="fade-up">Как использовать учебник по майнингу? <i class="iconline"></i> </h2>
                <div class="use_step" data-aos="fade-up" data-aos-delay="200">
                    <div class="use_step_box">
                        <img src="../static/images/client_Step 1icon.png">
                        <p class="use_step_box_title">Step 1</p>
                        <p class="use_step_box_txt">Откройте майнинг-машину и подключитесь к сети. Каждой майнинг-машине
                            или устройству хранения необходим как минимум один токен Filenet для запуска учетной записи
                        </p>
                    </div>
                    <div class="use_step_box">
                        <img src="../static/images/client_Step 1icon.png">
                        <p class="use_step_box_title">Step 2</p>
                        <p class="use_step_box_txt">Для настройки параметров майнинга, смотрите подробности в
                            руководстве по майнингу.</p>
                    </div>
                    <div class="use_step_box">
                        <img src="../static/images/client_Step 1icon.png">
                        <p class="use_step_box_title">Step 3</p>
                        <p class="use_step_box_txt">После того, как конфигурация прошла успешно, вы можете копать
                            файловую сеть. Пожалуйста, смотрите браузер блокчейна или кошелек fn для получения дохода от
                            майнинга.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="wallet_footer">
        <div class="w1200">
            <p>© Copyright 2016-2020 filenet.io</p>
        </div>
    </div>

    <div style="display: none;">
        <script type="text/javascript" src="https://s9.cnzz.com/z_stat.php?id=1278307264&web_id=1278307264"></script>
    </div>
</body>

<!-- js -->
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/aos.js"></script>
<script src="../static/js/aosindex.js"></script>
<script src="../static/js/common.js"></script>

</html>