<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- title -->
    <title>Filenet</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
    <!-- css -->
    <link rel="stylesheet" href="../static/css/aos.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/filenet_new.css">
    <!-- iconfont -->
    <link rel="stylesheet" href="../static/iconfont/iconfont.css">
</head>

<body>
    <div class="wubanner">
        <!-- header -->
        <div class="wuheader">
            <div class="w1200 wuheaderbox">
                <h1 class="wulogo noselect">
                    <a href="./index_EN.html">
                        <img src="../static/images/wulogo.png">
                    </a>
                </h1>
                <!-- lang -->
                <ul class="wulist noselect">
                    <li class="langxiala">
                        <img src="../static/images/lang_en.png"> EN <i class="iconfont icon-xiala1"></i> </i>
                        <div class="morelang noselect">
                            <a href="./fogcomputing_CH.html" class="morelangbox">
                                <img src="../static/images/lang_ch.png"> CH </i>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- p -->
        <div class="w1200">
            <div class="wubannerp wubannerp_en">
                <p data-aos="fade-up">The World's Leading Fog Computing Service Provider</p>
                <p data-aos="fade-up">Filenet Fog Computing</p>
            </div>
        </div>

    </div>

    <!-- fog -->
    <div class="fog fog_en">
        <div class="w1200 fogbox">
            <div class="fogboxp">
                <p data-aos="fade-up" data-aos-delay="200" class="fogboxp_title bold">
                    <i class="pdot"></i> Filenet Fog Computing
                </p>
                <p data-aos="fade-up" data-aos-delay="200" class="fogboxp_content fogboxp_content_en">
                    Fog computing is an extension of the concept of cloud computing. Filenet fog computing is a
                    future-oriented fog computing technology, a paravirtualized service computing architecture model
                    that enables billions of smart devices to conveniently share idle
                    computing, storage, bandwidth and other resources. Filenet fog computing is not only a resource pool
                    that spans the center to the edge of the network, but also a new point-to-point delivery system that
                    provides PaaS platform and SaaS
                    services. Filenet fog computing helps companies reduce content distribution costs and improve
                    quality while helping end users get income through sharing.
                </p>
            </div>
            <img data-aos="fade-up" data-aos-delay="400" src="../static/images/fogimg.png" class="fogimg">
        </div>
    </div>

    <!-- features -->
    <div class="features">
        <div class="w1200 featuresbox">
            <p data-aos="fade-up" data-aos-delay="200" class="fogboxp_title bold">
                <i class="pdot"></i> Filenet Fog Computing Features
            </p>
            <div class="featuresshow">
                <div class="featuresshowbox showone" data-aos="fade-up" data-aos-delay="200">
                    <div class="featuresshowbox_normal">
                        <img src="../static/images/jishuicon.png">
                        <p class="featuresshowbox_normal_p">Leading technology</p>
                    </div>
                    <!-- hover -->
                    <div class="featuresshowbox_hover featuresshowbox_hover_en">
                        <p class="featuresshowbox_hover_title">Leading technology <i class="featuresline"></i> </p>
                        <p class="featuresshowbox_hover_content featuresshowbox_hover_content_en"> <i
                                class="featuresdot"></i> Independent research and development of industry-leading node
                            scheduling system, supporting tens of millions of nodes.
                        </p>
                        <p class="featuresshowbox_hover_content featuresshowbox_hover_content_en"> <i
                                class="featuresdot"></i> Preference to LAN, automatically select the optimal path.</p>
                        <p class="featuresshowbox_hover_content featuresshowbox_hover_content_en"> <i
                                class="featuresdot"></i> Content updates are automatically distributed based on heat.
                        </p>
                    </div>
                </div>
                <div class="featuresshowbox showtwo" data-aos="fade-up" data-aos-delay="400">
                    <div class="featuresshowbox_normal">
                        <img src="../static/images/chengshuicon.png">
                        <p class="featuresshowbox_normal_p">Mature and stable</p>
                    </div>
                    <!-- hover -->
                    <div class="featuresshowbox_hover featuresshowbox_hover_en">
                        <p class="featuresshowbox_hover_title">Mature and stable <i class="featuresline"></i> </p>
                        <p class="featuresshowbox_hover_content featuresshowbox_hover_content_en"> <i
                                class="featuresdot"></i> Cooperated with Tencent WeSee, ByteDance and other data content
                            service providers, and the actual scenario of multi-party business was verified. </p>
                        <p class="featuresshowbox_hover_content featuresshowbox_hover_content_en"> <i
                                class="featuresdot"></i> More than 10 million users every day.</p>
                    </div>
                </div>
                <div class="featuresshowbox showthree" data-aos="fade-up" data-aos-delay="600">
                    <div class="featuresshowbox_normal">
                        <img src="../static/images/youzhiicon.png">
                        <p class="featuresshowbox_normal_p">High quality experience</p>
                    </div>
                    <!-- hover -->
                    <div class="featuresshowbox_hover featuresshowbox_hover_en">
                        <p class="featuresshowbox_hover_title">High quality experience <i class="featuresline"></i> </p>
                        <p class="featuresshowbox_hover_content featuresshowbox_hover_content_en"> <i
                                class="featuresdot"></i> Support the mainstream terminal platform. The distribution of
                            the content of the mainstream format is speeded up.
                        </p>
                        <p class="featuresshowbox_hover_content featuresshowbox_hover_content_en"> <i
                                class="featuresdot"></i> The first screen delay is within 1 second, and there is no lag.
                            All the user indexes are better than the traditional CDN.
                        </p>
                        <p class="featuresshowbox_hover_content featuresshowbox_hover_content_en"> <i
                                class="featuresdot"></i> Real-time collection of all network node quality to help users
                            get the best access path.
                        </p>
                    </div>
                </div>
                <div class="featuresshowbox showfour" data-aos="fade-up" data-aos-delay="800">
                    <div class="featuresshowbox_normal">
                        <img src="../static/images/ziyuanicon.png">
                        <p class="featuresshowbox_normal_p">Resource sharing</p>
                    </div>
                    <!-- hover -->
                    <div class="featuresshowbox_hover featuresshowbox_hover_en">
                        <p class="featuresshowbox_hover_title">Resource sharing <i class="featuresline"></i> </p>
                        <p class="featuresshowbox_hover_content featuresshowbox_hover_content_en"> <i
                                class="featuresdot"></i> Through sharing economy and block chain technology, the idle
                            bandwidth, storage, computing and other resources of ordinary users can be efficiently and
                            stably utilized. </p>
                        <p class="featuresshowbox_hover_content featuresshowbox_hover_content_en"> <i
                                class="featuresdot"></i> Significantly reduce the cost of cloud computing for customers.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- platform -->
    <div class="platform">
        <div class="w1200 platformbox">
            <p data-aos="fade-up" data-aos-delay="200" class="fogboxp_title bold">
                <i class="pdot"></i> Architecture Diagram of Filenet Fog Computing Platform
            </p>
            <div data-aos="fade-up" data-aos-delay="200" class="platformbox_img">
                <img src="../static/images/fogplatimg.png">
            </div>
        </div>
    </div>

    <!-- nodes -->
    <div class="nodes">
        <div class="w1200 nodesbox nodesbox_en">
            <p class="fogboxp_title bold" data-aos="fade-up" data-aos-delay="200">
                <i class="pdot"></i> Global Deployment of Filenet Fog Computing Nodes
            </p>
            <p data-aos="fade-up" data-aos-delay="400" class="nodesboxp">The Filenet fog computing layout is global,
                with an estimated of over 100,000 nodes, ensuring secure, efficient, and stable data transmission.</p>
        </div>
    </div>



    <!-- footer -->
    <div class="footer wufooter">
        <div class="w1200" data-aos="fade-up" data-aos-delay="200">
            <div class="footer_box">
                <h5 class="footer_box_title">Quick access</h5>
                <a href="./index_EN.html#introduction" target="_blank">Introduction</a>
                <a href="./index_EN.html#diagram" target="_blank">Architecture</a>
                <a href="./index_EN.html#plan" target="_blank">Contribution plan</a>
            </div>
            <div class="footer_box product">
                <h5 class="footer_box_title">Product</h5>
                <a href="./wallet_EN.html" target="_blank">Wallet</a>
                <a href="./client_EN.html" target="_blank">Mining</a>
            </div>
            <div class="footer_box develop">
                <h5 class="footer_box_title">Developers</h5>
                <a href="https://github.com/filenet" target="_blank">Github</a>
                <a href="./fullnode_EN.html" target="_blank">Full node wallet</a>
            </div>
            <div class="footer_box about">
                <h5 class="footer_box_title">About</h5>
                <a href="./index_EN.html#roadline" target="_blank">Roadmap</a>
                <a href="../static/file/Filenet White paper V2.0.pdf" target="_blank">White paper</a>
                <a href="http://scan.filenet.io/#/" target="_blank">Browser</a>
            </div>
            <div class="footer_box contact">
                <h5 class="footer_box_title">Contact us</h5>
                <!-- <a href="contact@filenet.io" class="email" target="_blank"> -->
                <div class="contactbox">
                    <a href="mailto://contact@filenet.io" class="email" target="_blank">
                        <i></i>
                    </a>
                    <a href="https://twitter.com/Filenetglobal" class="twitter" target="_blank">
                        <i></i>
                    </a>
                    <a href="https://www.facebook.com/profile.php?id=100027801881754" class="facebook" target="_blank">
                        <i></i>
                    </a>
                    <a href="https://www.reddit.com/user/FilenetGlobal/" class="reddit" target="_blank">
                        <i></i>
                    </a>
                    <a href="https://t.me/filenetcommunity" class="telegram" target="_blank">
                        <i></i>
                    </a>
                    <a href="javascript:void(0);" class="wechat">
                        <i></i>
                        <div class="weixin_qrcode">
                            <img src="../static/images/weixin_qrcodeimg.jpg">
                        </div>
                    </a>
                    <a href="https://t.bqi.com/u/307662.html" class="yinhao" target="_blank">
                        <i></i>
                    </a>
                    <a href="https://medium.com/@filenetglobal" class="medium" target="_blank">
                        <i></i>
                    </a>
                </div>
            </div>
        </div>
        <p class="wucopyright">
            © Copyright 2016-2020 filenet.io
        </p>
    </div>

    <div style="display: none;">
        <script type="text/javascript" src="https://s9.cnzz.com/z_stat.php?id=1278307264&web_id=1278307264"></script>
    </div>

</body>

<script src="../static/js/aos.js"></script>
<script src="../static/js/aosindex.js"></script>

</html>