<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- title -->
    <title>Filenet</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
    <!-- css -->
    <link rel="stylesheet" href="../static/css/aos.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/filenet_new.css">
    <!-- iconfont -->
    <link rel="stylesheet" href="../static/iconfont/iconfont.css">
</head>

<body>
    <div class="wubanner">
        <!-- header -->
        <div class="wuheader">
            <div class="w1200 wuheaderbox">
                <h1 class="wulogo noselect">
                    <a href="./index_CH.html">
                        <img src="../static/images/wulogo.png">
                    </a>
                </h1>
                <!-- lang -->
                <ul class="wulist noselect">
                    <li class="langxiala">
                        <img src="../static/images/lang_ch.png"> CH <i class="iconfont icon-xiala1"></i> </i>
                        <div class="morelang noselect">
                            <a href="./fogcomputing_EN.html" class="morelangbox">
                                <img src="../static/images/lang_en.png"> EN </i>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- p -->
        <div class="w1200">
            <div class="wubannerp">
                <p data-aos="fade-up">全球领先雾计算服务商</p>
                <p data-aos="fade-up">Filenet雾计算</p>
            </div>
        </div>

    </div>

    <!-- fog -->
    <div class="fog">
        <div class="w1200 fogbox">
            <div class="fogboxp">
                <p data-aos="fade-up" data-aos-delay="200" class="fogboxp_title">
                    <i class="pdot"></i> Filenet 雾计算
                </p>
                <p data-aos="fade-up" data-aos-delay="200" class="fogboxp_content">
                    雾计算是对云计算概念的延伸，Filenet雾计算是面对未来的雾计算技术，是半虚拟化的服务计算架构模型，使数十亿智慧设备能便捷地分享闲置的计算、存储、带宽等资源。Filenet雾计算不仅是跨越网络中心到边缘的资源池，也是新型的点对点传输系统，提供PaaS平台与SaaS服务。Filenet雾计算在帮企业降低内容分发成本、提高质量的同时帮终端用户通过分享获取收益。
                </p>
            </div>
            <img data-aos="fade-up" data-aos-delay="400" src="../static/images/fogimg.png" class="fogimg">
        </div>
    </div>

    <!-- features -->
    <div class="features">
        <div class="w1200 featuresbox">
            <p data-aos="fade-up" data-aos-delay="200" class="fogboxp_title">
                <i class="pdot"></i> Filenet 雾计算特点
            </p>
            <div class="featuresshow">
                <div class="featuresshowbox showone" data-aos="fade-up" data-aos-delay="200">
                    <div class="featuresshowbox_normal">
                        <img src="../static/images/jishuicon.png">
                        <p class="featuresshowbox_normal_p">技术领先</p>
                    </div>
                    <!-- hover -->
                    <div class="featuresshowbox_hover">
                        <p class="featuresshowbox_hover_title">技术领先 <i class="featuresline"></i> </p>
                        <p class="featuresshowbox_hover_content"> <i class="featuresdot"></i> 自主研发业内领先的节点调度系统，支持千万量级节点。
                        </p>
                        <p class="featuresshowbox_hover_content"> <i class="featuresdot"></i> 局域网优先，自动选择最优路径。</p>
                        <p class="featuresshowbox_hover_content"> <i class="featuresdot"></i> 内容根据热度自动分发更新。</p>
                    </div>
                </div>
                <div data-aos="fade-up" data-aos-delay="400" class="featuresshowbox showtwo">
                    <div class="featuresshowbox_normal">
                        <img src="../static/images/chengshuicon.png">
                        <p class="featuresshowbox_normal_p">成熟稳定</p>
                    </div>
                    <!-- hover -->
                    <div class="featuresshowbox_hover">
                        <p class="featuresshowbox_hover_title">成熟稳定 <i class="featuresline"></i> </p>
                        <p class="featuresshowbox_hover_content"> <i class="featuresdot"></i>
                            与腾讯微视、字节跳动等多家数据内容服务商开展合作，并且多方业务的实际场景验证通过。 </p>
                        <p class="featuresshowbox_hover_content"> <i class="featuresdot"></i> 每天超过1000+万用户使用。</p>
                    </div>
                </div>
                <div data-aos="fade-up" data-aos-delay="600" class="featuresshowbox showthree">
                    <div class="featuresshowbox_normal">
                        <img src="../static/images/youzhiicon.png">
                        <p class="featuresshowbox_normal_p">优质体验</p>
                    </div>
                    <!-- hover -->
                    <div class="featuresshowbox_hover">
                        <p class="featuresshowbox_hover_title">优质体验 <i class="featuresline"></i> </p>
                        <p class="featuresshowbox_hover_content"> <i class="featuresdot"></i> 支持主流终端平台，主流内容格式的内容加速分发。
                        </p>
                        <p class="featuresshowbox_hover_content"> <i class="featuresdot"></i> 首屏延迟1S内，零卡顿，各项用户指标优于传统CDN。
                        </p>
                        <p class="featuresshowbox_hover_content"> <i class="featuresdot"></i> 实时收集全网节点质量，帮助用户获得最佳访问路径。
                        </p>
                    </div>
                </div>
                <div data-aos="fade-up" data-aos-delay="800" class="featuresshowbox showfour">
                    <div class="featuresshowbox_normal">
                        <img src="../static/images/ziyuanicon.png">
                        <p class="featuresshowbox_normal_p">资源共享</p>
                    </div>
                    <!-- hover -->
                    <div class="featuresshowbox_hover">
                        <p class="featuresshowbox_hover_title">资源共享 <i class="featuresline"></i> </p>
                        <p class="featuresshowbox_hover_content"> <i class="featuresdot"></i>
                            通过共享经济和区块链技术高效利用普通用户闲置的带宽、存储、计算等资源，高效稳定。 </p>
                        <p class="featuresshowbox_hover_content"> <i class="featuresdot"></i> 能够大幅降低客户的云计算成本。 </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- platform -->
    <div class="platform">
        <div class="w1200 platformbox">
            <p data-aos="fade-up" class="fogboxp_title">
                <i class="pdot"></i> Filenet 雾计算平台架构图
            </p>
            <div data-aos="fade-up" data-aos-delay="200" class="platformbox_img">
                <img src="../static/images/fogplatimg.png">
            </div>
        </div>
    </div>

    <!-- nodes -->
    <div class="nodes">
        <div class="w1200 nodesbox">
            <p data-aos="fade-up" class="fogboxp_title">
                <i class="pdot"></i> Filenet 雾计算节点全球部署
            </p>
            <p data-aos="fade-up" data-aos-delay="200" class="nodesboxp">Filenet
                雾计算布局面向全球，预计全球布局超10万大小节点，确保数据安全、高效、稳定传输。
            </p>
        </div>
    </div>



    <!-- footer -->
    <div class="footer wufooter">
        <div class="w1200" data-aos="fade-up" data-aos-delay="200">
            <div class="footer_box">
                <h5 class="footer_box_title">快速访问</h5>
                <a href="./index_CH.html#introduction" target="_blank">简介</a>
                <a href="./index_CH.html#diagram" target="_blank">架构</a>
                <a href="./index_CH.html#plan" target="_blank">贡献计划</a>
            </div>
            <div class="footer_box product">
                <h5 class="footer_box_title">产品</h5>
                <a href="./wallet_CH.html" target="_blank">钱包</a>
                <a href="./client_CH.html" target="_blank">挖矿</a>
            </div>
            <div class="footer_box develop">
                <h5 class="footer_box_title">开发者</h5>
                <a href="https://github.com/filenet" target="_blank">Github</a>
                <a href="./fullnode_CH.html" target="_blank">全节点钱包</a>
            </div>
            <div class="footer_box about">
                <h5 class="footer_box_title">关于</h5>
                <a href="./index_CH.html#roadline" target="_blank">路线图</a>
                <a href="../static/file/Filenet White paper V2.0.pdf" target="_blank">白皮书</a>
                <a href="http://scan.filenet.io/#/" target="_blank">浏览器</a>
            </div>
            <div class="footer_box contact">
                <h5 class="footer_box_title">联系我们</h5>
                <!-- <a href="contact@filenet.io" class="email" target="_blank"> -->
                <div class="contactbox">
                    <a href="mailto://contact@filenet.io" class="email" target="_blank">
                        <i></i>
                    </a>
                    <a href="https://twitter.com/Filenetglobal" class="twitter" target="_blank">
                        <i></i>
                    </a>
                    <a href="https://www.facebook.com/profile.php?id=100027801881754" class="facebook" target="_blank">
                        <i></i>
                    </a>
                    <a href="https://www.reddit.com/user/FilenetGlobal/" class="reddit" target="_blank">
                        <i></i>
                    </a>
                    <a href="https://t.me/filenetcommunity" class="telegram" target="_blank">
                        <i></i>
                    </a>
                    <a href="javascript:void(0);" class="wechat">
                        <i></i>
                        <div class="weixin_qrcode">
                            <img src="../static/images/weixin_qrcodeimg.jpg">
                        </div>
                    </a>
                    <a href="https://t.bqi.com/u/307662.html" class="yinhao" target="_blank">
                        <i></i>
                    </a>
                    <a href="https://medium.com/@filenetglobal" class="medium" target="_blank">
                        <i></i>
                    </a>
                </div>
            </div>
        </div>
        <p class="wucopyright">
            © Copyright 2016-2020 filenet.io
        </p>
    </div>

    <div style="display: none;">
        <script type="text/javascript" src="https://s9.cnzz.com/z_stat.php?id=1278307264&web_id=1278307264"></script>
    </div>

</body>

<script src="../static/js/aos.js"></script>
<script src="../static/js/aosindex.js"></script>

</html>