<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- title -->
    <title>Filenet</title>
    <!-- seo -->
    <meta name="keywords" content="filecoin,云存储,filecoin挖矿,ipfs,filenet,区块链云存储,ipfs矿机,ipfs矿工,ipfs挖矿" />
    <meta name="description"
        content="filenet.io社区Filenet与IPFS一起构成一个完整的产品。Filenet是构建在IPFS协议之上的激励层，它的底层功能包括分布式存储和分布式网络等,通过相应的命令行，即可实现对挖矿程序参数的配置、数据的上传、下载等。Filenet与IPFS一起构成一个完整的产品。">
    <!-- favicon -->
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
    <!-- css -->
    <link rel="stylesheet" href="../static/css/aos.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/filenet_new.css">
    <!-- iconfont -->
    <link rel="stylesheet" href="../static/iconfont/iconfont.css">
</head>

<body>
    <!-- header -->
    <div class="header wallet_header">
        <div class="w1200">
            <h1 class="logo noselect">
                <a href="./index_CH.html">
                    <img src="../static/images/logo.png">
                </a>
            </h1>
            <ul class="list noselect">
                <li class="home">
                    <a href="./index_CH.html">首页</a>
                </li>
                <li class="applyxiala">应用 <i class="iconfont icon-xiala1"></i> <i class="iconline applyiconline"></i>
                    <div class="moreapply noselect wallet_moreapply">
                        <a href="./wallet_CH.html">FN钱包</a>
                        <a href="./client_CH.html">FN挖矿程序</a>
                        <a href="./fullnode_CH.html">PC全节点钱包</a>
                    </div>
                </li>
                <li class="applyxiala">共识机制 <i class="iconfont icon-xiala1"></i> <i class="iconline applyiconline"></i>
                    <div class="moreapply noselect wallet_moreapply">
                        <a href="./packagingnodes_CH.html">打包节点</a>
                        <a href="./supernode_CH.html">超级节点</a>
                        <a href="./managementact_CH.html">自治社区</a>
                    </div>
                </li>
                <li class="announce">
                    <a href="./informationcenter_CH.html">资讯中心</a>
                </li>
                <li class="applyxiala">商业生态 <i class="iconfont icon-xiala1"></i> <i class="iconline applyiconline"></i>
                    <div class="moreapply noselect wallet_moreapply">
                        <a href="https://www.ztiao.club" target="_blank">纸条</a>
                        <a href="./fogcomputing_CH.html" target="_blank">雾计算</a>
                    </div>
                </li>
                <li class="scan">
                    <a href="http://scan.filenet.io/#/" target="_blank">浏览器</a>
                </li>
                <li class="langxiala">简体中文 <i class="iconfont icon-xiala1"></i> <i class="iconline langiconline"></i>
                    <div class="morelang noselect wallet_morelang">
                        <a href="./fullnode_EN.html">English</a>
                        <a href="./fullnode_Kr.html">한국어</a>
                        <a href="./fullnode_JP.html">日本語</a>
                        <a href="./fullnode_RUS.html">русский</a>
                    </div>
                </li>
            </ul>
            <!-- fit -->
            <div class="header_more">
                <i class="iconfont icon-gengduo"></i>
            </div>
            <div class="header_more_box header_more_box_other">
                <a href="./index_CH.html">首页</a>
                <div pull-id="1" class="header_more_box_applyxiala header_more_box_xiala">应用 <i
                        class="iconfont icon-xiala1 myxiala"></i></div>
                <div class="header_more_box_moreapply header_more_box_pull">
                    <a href="./wallet_CH.html">FN钱包</a>
                    <a href="./client_CH.html">FN挖矿程序</a>
                    <a href="./fullnode_CH.html">PC全节点钱包</a>
                </div>
                <div pull-id="2" class="header_more_box_applyxiala header_more_box_xiala">共识机制 <i
                        class="iconfont icon-xiala1 myxiala myxiala_lang"></i></div>
                <div class="header_more_box_moreapply header_more_box_pull">
                    <a href="./packagingnodes_CH.html">打包节点</a>
                    <a href="./supernode_CH.html">超级节点</a>
                    <a href="./managementact_CH.html">自治社区</a>
                </div>
                <a href="./informationcenter_CH.html">资讯中心</a>
                <div pull-id="3" class="header_more_box_applyxiala header_more_box_xiala">商业生态 <i
                        class="iconfont icon-xiala1 myxiala myxiala_lang"></i></div>
                <div class="header_more_box_moreapply header_more_box_pull">
                    <a href="https://www.ztiao.club" target="_blank">纸条</a>
                    <a href="./fogcomputing_CH.html" target="_blank">雾计算</a>
                </div>
                <a href="http://scan.filenet.io/#/" target="_blank">浏览器</a>
                <div pull-id="4" class="header_more_box_langxiala header_more_box_xiala">简体中文 <i
                        class="iconfont icon-xiala1 myxiala myxiala_lang"></i>
                </div>
                <div class="header_more_box_morelang header_more_box_pull">
                    <a href="./fullnode_EN.html">English</a>
                    <a href="./fullnode_Kr.html">한국어</a>
                    <a href="./fullnode_JP.html">日本語</a>
                    <a href="./fullnode_RUS.html">русский</a>
                </div>
            </div>
        </div>
    </div>

    <!-- top -->
    <div class="client_top">
        <!-- content -->
        <div class="w1200 overflow">
            <!-- left -->
            <div class="fullnode_introduction">
                <h1 data-aos="fade-up">Filenet全节点钱包</h1>
                <p data-aos="fade-up" data-aos-delay="200" class="fullnode_introduction_txt">
                    Filenet官方提供了全节点钱包供开发者调用，其中DB file供数据同步用，可以提高同步的速度。
                </p>
                <p data-aos="fade-up" data-aos-delay="200" class="fullnode_introduction_dot">
                    <i class="doticon"></i> 同步，查找区块
                </p>
                <p data-aos="fade-up" data-aos-delay="200" class="fullnode_introduction_dot">
                    <i class="doticon"></i> 创建钱包，查询钱包
                </p>
                <p data-aos="fade-up" data-aos-delay="200" class="fullnode_introduction_dot">
                    <i class="doticon"></i> 转账，授权，合约、接收
                </p>
                <p data-aos="fade-up" data-aos-delay="200"
                    class="fullnode_introduction_dot fullnode_introduction_dot_last">
                    <i class="doticon"></i> 获取挖矿贡献参数等
                </p>
                <a data-aos="fade-up" data-aos-delay="400" class="client_button fullnode_button"
                    href="http://filenet.io/apkUrl/downloadZip?fileName=FN_API_CN.pdf">
                    <i class="download"></i> API文档下载
                </a>
            </div>
            <div class="client_img fullnode_img" data-aos="fade-up" data-aos-delay="300">
                <img src="../static/images/fullnode_img.png">
            </div>
        </div>
    </div>

    <!-- bottom -->
    <div class="fullnode_bottom">
        <div class="w1200">
            <!-- version -->
            <div class="fullnode_bottom_version">
                <h2 data-aos="fade-up">版本下载 <i class="iconline"></i> </h2>
                <div class="version_table version_table_fullnodeshipei" data-aos="fade-up" data-aos-delay="200">
                    <div class="version_table_box">
                        <a href="http://filenet.io/apkUrl/downloadZip?fileName=fnv2wallets.exe">
                            <i class="version_table_box_Win64"></i>
                            <p>Win64</p>
                        </a>
                    </div>
                    <div class="version_table_box">
                        <a href="http://filenet.io/apkUrl/downloadZip?fileName=fnv2wallets">
                            <i class="version_table_box_Linux"></i>
                            <p>Linux</p>
                        </a>
                    </div>
                    <div class="version_table_box">
                        <a href="http://filenet.io/apkUrl/downloadZip?fileName=fnv2.zip">
                            <i class="version_table_box_DBfile"></i>
                            <p>DB file</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="wallet_footer">
        <div class="w1200">
            <p>© Copyright 2016-2020 filenet.io</p>
        </div>
    </div>

    <div style="display: none;">
        <script type="text/javascript" src="https://s9.cnzz.com/z_stat.php?id=1278307264&web_id=1278307264"></script>
    </div>

</body>

<!-- js -->
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/aos.js"></script>
<script src="../static/js/aosindex.js"></script>
<script src="../static/js/common.js"></script>

</html>