<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- title -->
    <title>Filenet</title>
    <!-- seo -->
    <meta name="keywords" content="filecoin,云存储,filecoin挖矿,ipfs,filenet,区块链云存储,ipfs矿机,ipfs矿工,ipfs挖矿" />
    <meta name="description"
        content="filenet.io社区Filenet与IPFS一起构成一个完整的产品。Filenet是构建在IPFS协议之上的激励层，它的底层功能包括分布式存储和分布式网络等,通过相应的命令行，即可实现对挖矿程序参数的配置、数据的上传、下载等。Filenet与IPFS一起构成一个完整的产品。">
    <!-- favicon -->
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
    <!-- css -->
    <link rel="stylesheet" href="../static/css/aos.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/filenet_new.css">
    <!-- iconfont -->
    <link rel="stylesheet" href="../static/iconfont/iconfont.css">
</head>

<body>
    <!-- header -->
    <div class="header wallet_header">
        <div class="w1200">
            <h1 class="logo noselect">
                <a href="./index_Kr.html">
                    <img src="../static/images/logo.png">
                </a>
            </h1>
            <ul class="list noselect">
                <li class="home">
                    <a href="./index_Kr.html">홈</a>
                </li>
                <li class="applyxiala">신청 <i class="iconfont icon-xiala1"></i> <i class="iconline applyiconline"></i>
                    <!-- app -->
                    <div class="moreapply noselect wallet_moreapply">
                        <a href="./wallet_Kr.html">FN지갑</a>
                        <a href="./client_Kr.html">FN마이닝프로그램</a>
                        <a href="./fullnode_Kr.html">PC풀노드지갑</a>
                    </div>
                </li>
                <li class="announce">
                    <a href="./informationcenter_Kr.html">안내소</a>
                </li>
                <li class="applyxiala">비즈니스 생태 <i class="iconfont icon-xiala1"></i> <i
                        class="iconline applyiconline"></i>
                    <!-- app -->
                    <div class="moreapply noselect wallet_moreapply">
                        <a href="https://www.ztiao.club" target="_blank">ZTiao</a>
                        <a href="./fogcomputing_EN.html" target="_blank">Fog Computing</a>
                    </div>
                </li>
                <li class="announce">
                    <a href="http://scan.filenet.io/#/" target="_blank">브라우저</a>
                </li>
                <li class="langxiala">한국어 <i class="iconfont icon-xiala1"></i> <i class="iconline langiconline"></i>
                    <!-- lang -->
                    <div class="morelang noselect wallet_morelang">
                        <a href="./fullnode_EN.html">English</a>
                        <a href="./fullnode_CH.html">简体中文</a>
                        <a href="./fullnode_JP.html">日本語</a>
                        <a href="./fullnode_RUS.html">русский</a>
                    </div>
                </li>
            </ul>
            <!-- fit -->
            <div class="header_more">
                <i class="iconfont icon-gengduo"></i>
            </div>
            <div class="header_more_box header_more_box_other">
                <a href="./index_Kr.html">홈</a>
                <div pull-id="1" class="header_more_box_applyxiala header_more_box_xiala">신청 <i
                        class="iconfont icon-xiala1 myxiala"></i>
                </div>
                <div class="header_more_box_moreapply header_more_box_pull">
                    <a href="./wallet_Kr.html">FN지갑</a>
                    <a href="./client_Kr.html">FN마이닝프로그램</a>
                    <a href="./fullnode_Kr.html">PC풀노드지갑</a>
                </div>
                <a href="./informationcenter_Kr.html">안내소</a>
                <div pull-id="2" class="header_more_box_applyxiala header_more_box_xiala">비즈니스 생태 <i
                        class="iconfont icon-xiala1 myxiala myxiala_eco_Kr"></i>
                </div>
                <div class="header_more_box_moreapply header_more_box_pull">
                    <a href="https://www.ztiao.club" target="_blank">ZTiao</a>
                    <a href="./fogcomputing_EN.html" target="_blank">Fog Computing</a>
                </div>
                <a href="http://scan.filenet.io/#/" target="_blank">브라우저</a>
                <div pull-id="3" class="header_more_box_langxiala header_more_box_xiala">한국어 <i
                        class="iconfont icon-xiala1 myxiala myxiala_lang"></i>
                </div>
                <div class="header_more_box_morelang header_more_box_pull">
                    <a href="./fullnode_EN.html">English</a>
                    <a href="./fullnode_CH.html">简体中文</a>
                    <a href="./fullnode_JP.html">日本語</a>
                    <a href="./fullnode_RUS.html">русский</a>
                </div>
            </div>
        </div>
    </div>

    <!-- top -->
    <div class="client_top">
        <!-- content -->
        <div class="w1200 overflow">
            <!-- left -->
            <div class="fullnode_introduction">
                <h1 data-aos="fade-up">Filenet 풀 노드 지갑</h1>
                <p data-aos="fade-up" data-aos-delay="200" class="fullnode_introduction_txt">
                    Filenet은 공식적으로 개발자가 호출 할 수있는 풀 노드 지갑, 데이터 동기화를위한 DB 파일을 제공하여 동기화 속도를 향상시킬 수 있습니다.
                </p>
                <p data-aos="fade-up" data-aos-delay="200" class="fullnode_introduction_dot">
                    <i class="doticon"></i> 동기화, 블록 찾기
                </p>
                <p data-aos="fade-up" data-aos-delay="200" class="fullnode_introduction_dot">
                    <i class="doticon"></i> 지갑을 만들고 지갑을 확인하십시오
                </p>
                <p data-aos="fade-up" data-aos-delay="200" class="fullnode_introduction_dot">
                    <i class="doticon"></i> 양도, 승인, 계약, 영수증
                </p>
                <p data-aos="fade-up" data-aos-delay="200"
                    class="fullnode_introduction_dot fullnode_introduction_dot_last">
                    <i class="doticon"></i> 광산 기여 매개 변수 등을 가져옵니다
                </p>
                <a data-aos="fade-up" data-aos-delay="400" class="client_button fullnode_button fullnode_button_Kr"
                    href="http://filenet.io/apkUrl/downloadZip?fileName=FN_API_EN.pdf">
                    <i class="download"></i> API 설명서 다운로드

                </a>
            </div>
            <div class="client_img fullnode_img" data-aos="fade-up" data-aos-delay="300">
                <img src="../static/images/fullnode_img.png">
            </div>
        </div>
    </div>

    <!-- bottom -->
    <div class="fullnode_bottom">
        <div class="w1200">
            <!-- version -->
            <div class="fullnode_bottom_version">
                <h2 data-aos="fade-up">버전 다운로드 <i class="iconline"></i> </h2>
                <div class="version_table version_table_fullnodeshipei" data-aos="fade-up" data-aos-delay="200">
                    <div class="version_table_box">
                        <a href="http://filenet.io/apkUrl/downloadZip?fileName=fnv2wallets.exe">
                            <i class="version_table_box_Win64"></i>
                            <p>Win64</p>
                        </a>
                    </div>
                    <div class="version_table_box">
                        <a href="http://filenet.io/apkUrl/downloadZip?fileName=fnv2wallets">
                            <i class="version_table_box_Linux"></i>
                            <p>Linux</p>
                        </a>
                    </div>
                    <div class="version_table_box">
                        <a href="http://filenet.io/apkUrl/downloadZip?fileName=fnv2.zip">
                            <i class="version_table_box_DBfile"></i>
                            <p>DB file</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="wallet_footer">
        <div class="w1200">
            <p>© Copyright 2016-2020 filenet.io</p>
        </div>
    </div>

    <div style="display: none;">
        <script type="text/javascript" src="https://s9.cnzz.com/z_stat.php?id=1278307264&web_id=1278307264"></script>
    </div>

</body>

<!-- js -->
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/aos.js"></script>
<script src="../static/js/aosindex.js"></script>
<script src="../static/js/common.js"></script>

</html>