<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- title -->
    <title>Filenet</title>
    <!-- seo -->
    <meta name="keywords" content="filecoin,云存储,filecoin挖矿,ipfs,filenet,区块链云存储,ipfs矿机,ipfs矿工,ipfs挖矿" />
    <meta name="description"
        content="filenet.io社区Filenet与IPFS一起构成一个完整的产品。Filenet是构建在IPFS协议之上的激励层，它的底层功能包括分布式存储和分布式网络等,通过相应的命令行，即可实现对挖矿程序参数的配置、数据的上传、下载等。Filenet与IPFS一起构成一个完整的产品。">
    <!-- favicon -->
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
    <!-- css -->
    <link rel="stylesheet" href="../static/css/loading.css">
    <link rel="stylesheet" href="../static/css/aos.css">
    <link rel="stylesheet" href="../static/css/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/filenet_new.css">
    <!-- iconfont -->
    <link rel="stylesheet" href="../static/iconfont/iconfont.css">
</head>

<body class="is-loading">
    <!-- loading -->
    <div class="curtain">
        <div class="loader">
            <p>l</p>
            <p>o</p>
            <p>a</p>
            <p>d</p>
            <p>i</p>
            <p>n</p>
            <p>g</p>
        </div>
    </div>

    <!-- header -->
    <div class="header">
        <div class="w1200">
            <h1 class="logo noselect">
                <a href="./index_CH.html">
                    <img src="../static/images/logo.png">
                </a>
            </h1>
            <ul class="list noselect">
                <li class="home">
                    <a href="./index_CH.html">首页</a>
                </li>
                <li class="applyxiala">应用 <i class="iconfont icon-xiala1"></i> <i class="iconline applyiconline"></i>
                    <div class="moreapply noselect">
                        <a href="./wallet_CH.html">FN钱包</a>
                        <a href="./client_CH.html">FN挖矿程序</a>
                        <a href="./fullnode_CH.html">PC全节点钱包</a>
                    </div>
                </li>
                <li class="applyxiala">共识机制 <i class="iconfont icon-xiala1"></i> <i class="iconline applyiconline"></i>
                    <div class="moreapply noselect">
                        <a href="./packagingnodes_CH.html">打包节点</a>
                        <a href="./supernode_CH.html">超级节点</a>
                        <a href="./managementact_CH.html">自治社区</a>
                    </div>
                </li>
                <li class="announce">
                    <a href="./informationcenter_CH.html">资讯中心</a>
                </li>
                <li class="applyxiala">商业生态 <i class="iconfont icon-xiala1"></i> <i class="iconline applyiconline"></i>
                    <div class="moreapply noselect">
                        <a href="https://www.ztiao.club" target="_blank">纸条</a>
                        <a href="./fogcomputing_CH.html" target="_blank">雾计算</a>
                    </div>
                </li>
                <li class="scan">
                    <a href="http://scan.filenet.io/#/" target="_blank">浏览器</a>
                </li>
                <li class="langxiala">简体中文 <i class="iconfont icon-xiala1"></i> <i class="iconline langiconline"></i>
                    <div class="morelang noselect">
                        <a href="./index_EN.html">English</a>
                        <a href="./index_Kr.html">한국어</a>
                        <a href="./index_JP.html">日本語</a>
                        <a href="./index_RUS.html">русский</a>
                    </div>
                </li>
            </ul>
            <!-- fit -->
            <div class="header_more">
                <i class="iconfont icon-gengduo"></i>
            </div>
            <div class="header_more_box">
                <a href="./index_CH.html">首页</a>
                <div pull-id="1" class="header_more_box_applyxiala header_more_box_xiala">应用 <i
                        class="iconfont icon-xiala1 myxiala"></i></div>
                <div class="header_more_box_moreapply header_more_box_pull">
                    <a href="./wallet_CH.html">FN钱包</a>
                    <a href="./client_CH.html">FN挖矿程序</a>
                    <a href="./fullnode_CH.html">PC全节点钱包</a>
                </div>
                <div pull-id="2" class="header_more_box_applyxiala header_more_box_xiala">共识机制 <i
                        class="iconfont icon-xiala1 myxiala myxiala_lang"></i></div>
                <div class="header_more_box_moreapply header_more_box_pull">
                    <a href="./packagingnodes_CH.html">打包节点</a>
                    <a href="./supernode_CH.html">超级节点</a>
                    <a href="./managementact_CH.html">自治社区</a>
                </div>
                <a href="./informationcenter_CH.html">资讯中心</a>
                <div pull-id="3" class="header_more_box_applyxiala header_more_box_xiala">商业生态 <i
                        class="iconfont icon-xiala1 myxiala myxiala_lang"></i></div>
                <div class="header_more_box_moreapply header_more_box_pull">
                    <a href="https://www.ztiao.club" target="_blank">纸条</a>
                    <a href="./fogcomputing_CH.html" target="_blank">雾计算</a>
                </div>
                <a href="http://scan.filenet.io/#/" target="_blank">浏览器</a>
                <div pull-id="4" class="header_more_box_langxiala header_more_box_xiala">简体中文 <i
                        class="iconfont icon-xiala1 myxiala myxiala_lang"></i>
                </div>
                <div class="header_more_box_morelang header_more_box_pull">
                    <a href="./index_EN.html">English</a>
                    <a href="./index_Kr.html">한국어</a>
                    <a href="./index_JP.html">日本語</a>
                    <a href="./index_RUS.html">русский</a>
                </div>
            </div>
        </div>
    </div>

    <!-- banner -->
    <div class="banner" id="banner">
        <div class="banner_title noselect">
            <div class="w1200 overflow">
                <h1 data-aos="fade-up" class="son">Filenet分布式存储赛道<br>领跑者</h1>
                <!-- fit -->
                <h1 data-aos="fade-up" class="son_fit">Filenet分布式存储赛道领跑者</h1>
                <a data-aos="fade-up" data-aos-delay="200" class="banner_button"
                    href="../static/file/Filenet White paper V2.0.pdf" target="_blank">阅读白皮书</a>
            </div>
        </div>
    </div>

    <!-- introduction -->
    <div class="introduction" id="introduction">
        <div class="w1200">
            <div class="introduction_top">
                <div class="introduction_top_txt">
                    <h2 data-aos="fade-up">Filenet 简介
                        <i class="iconline"></i>
                    </h2>
                    <p data-aos="fade-up" data-aos-delay="200">
                        Filenet(FN)是全球第一条主网上线的分布式存储应用公链，也是全球第一条采用 DPOS+POC
                        共识机制的分布式存储应用公链。Filenet致力于存储分发有价值的内容，以挖矿的形式，奖励矿工贡献闲置带宽以及存储空间。Filenet的使命是连接一切闲置存储空间，凡可以连接上网的存储设备都可以参与挖矿，形成强大的分布式数据服务系统。概括而言，Filenet就是基于分布式存储内容共享的超级云系统。
                    </p>
                </div>
                <div class="introduction_top_img" data-aos="fade-up" data-aos-delay="300">
                    <img src="../static/images/introduction_img.png">
                </div>
            </div>
            <div class="introduction_bottom" data-aos="fade-up" data-aos-delay="400">
                <div class="introduction_bottom_box">
                    <p class="introduction_bottom_box_title">数据分发</p>
                    <p class="introduction_bottom_box_content">
                        Filenet致力于存储和分发有价值的内容，系统提供文件晋级制度，数据被检索次数越多，成为热门数据后，此文件就可以参与挖矿。</p>
                    <img src="../static/images/introduction_data.png">
                </div>
                <div class="introduction_bottom_box">
                    <p class="introduction_bottom_box_title">存储免费</p>
                    <p class="introduction_bottom_box_content">
                        Filenet采用的DAO机制，在Filenet的体系内，用户上传下载无须支付费用，极大地降低企业服务器、带宽的成本。</p>
                    <img src="../static/images/introduction_cunchu.png">
                </div>
                <div class="introduction_bottom_box">
                    <p class="introduction_bottom_box_title">挖矿模式</p>
                    <p class="introduction_bottom_box_content">
                        Filenet是以检索分发挖矿模式为基础，质押一定量的保证金和提供一定的存储空间的模式来参与挖矿。矿工的贡献度越高，出块的概率越高。</p>
                    <img src="../static/images/introduction_wakuang.png">
                </div>
            </div>
        </div>
    </div>

    <!-- diagram -->
    <div class="diagram overflow" id="diagram">
        <div class="diagram_bgkuang">
            <i class="yellowicon"></i>
            <i class="blueiconleft"></i>
            <i class="blueiconright"></i>
            <div class="w1200 diagram_contain">
                <div data-aos="fade-up" data-aos-delay="100" class="diagram_contain_img">
                    <img src="../static/images/diagram.png">
                </div>
                <div class="diagram_txt">
                    <h2 data-aos="fade-up">Filenet 架构图
                        <i class="iconline"></i>
                    </h2>
                    <p data-aos="fade-up" data-aos-delay="200"> <i class="doticon"></i>
                        Filenet作为分布式存储第一应用公链，与众多分布式存储协议一起构成一个完整的应用解决方案。
                        <br> Filenet的底层功能包括分布式存储和分布式网络等，由运行Filenet的Mine物理设备来实现。
                    </p>
                    <p data-aos="fade-up" data-aos-delay="400"> <i class="doticon"></i>
                        Filenet运行于分布式网络之上而进行检索分发服务，它包括区块管理、共识机制、智能合约等。DAPP运行在DFN及Filenet之上，用户通过DAPP来上传和下载数据。
                    </p>
                    <p data-aos="fade-up" data-aos-delay="600"> <i class="doticon"></i> 去中心化存储网络(Decentralized File
                        Network)(DFN)，提供数据晋级制度。当用户通过一个设备上传一个数据，此数据存储在本地，当数据被检索次数越多，数据就会逐步进入公开网络，成为热门数据，此数据就可以参与挖矿。
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- plan -->
    <div class="plan" id="plan">
        <div class="w1200 plan_contain">
            <div class="plan_contain_txt overflow">
                <h2 data-aos="fade-up">Filenet 贡献计划
                    <i class="iconline"></i>
                </h2>
                <p data-aos="fade-up" data-aos-delay="200" class="plan_contain_txt_summary">
                    在Filenet的框架内，发行总量10 亿枚，80%通过挖矿产出。<br>矿工提供存储资源、存储数据、为用户提供数据检索分发，通过被检索使用获取收益。</p>

                <p data-aos="fade-up" data-aos-delay="300" class="plan_contain_txt_dot"> <i class="doticon"></i>
                    10%用于技术社区激励，10年逐步解禁。
                </p>
                <p data-aos="fade-up" data-aos-delay="400" class="plan_contain_txt_dot"> <i class="doticon"></i>
                    10%用于生态建设支持，根据挖矿进度逐步解禁。
                </p>
                <p data-aos="fade-up" data-aos-delay="500" class="plan_contain_txt_dot"> <i class="doticon"></i>
                    80%通过“参与存储或打包”挖矿产出，约每5.07年减半。
                </p>
                <p data-aos="fade-up" data-aos-delay="600" class="plan_contain_txt_dot"> <i class="doticon"></i> FN 采用
                    DPOS+POC 证明机制，每 10 秒产出一个区块，初始每个区块奖励 25FN。
                </p>
            </div>
            <div class="plan_contain_img" data-aos="fade-up" data-aos-delay="300">
                <img src="../static/images/plan.png">
            </div>
        </div>
    </div>

    <!-- roadline -->
    <div class="product-section product-features overflow" id="roadline">
        <h2 data-aos="fade-up" class="product-title">Filenet 路线图 <i class="iconline"></i> </h2>
        <!-- wrapper -->
        <div class="product-wrapper" data-aos="fade-up" data-aos-delay="200">
            <div id="swiper1" class="product-body swiper-container swiper-container-horizontal">
                <ul class="features-slide swiper-wrapper"
                    style="transform: translate3d(-565px, 0px, 0px); transition-duration: 0ms;">
                    <li class="features-item swiper-slide" style="width: 282.5px;">
                        <h3>2017年10月</h3>
                        <i></i>
                        <a class="features-info">
                            <p class="features-info-i"></p>
                            <p class="features-info-s"> Filenet项目发起 </p>
                        </a>
                    </li>

                    <li class="features-item swiper-slide swiper-slide-prev" style="width: 282.5px;">
                        <h3>2018年8月3日</h3>
                        <i></i>
                        <a class="features-info">
                            <p class="features-info-i"></p>
                            <p class="features-info-s"> 开启早期矿工招募 </p>
                        </a>
                    </li>

                    <li class="features-item swiper-slide swiper-slide-active" style="width: 282.5px;">
                        <h3>2018年9月19日</h3>
                        <i></i>
                        <a class="features-info">
                            <p class="features-info-i"></p>
                            <p class="features-info-s"> Filenet钱包Fn Wallet如期上线 </p>
                        </a>
                    </li>

                    <li class="features-item swiper-slide swiper-slide-next" style="width: 282.5px;">
                        <h3>2018年10月11日</h3>
                        <i></i>
                        <a class="features-info">
                            <p class="features-info-i"></p>
                            <p class="features-info-s"> 开始项目内测 </p>
                        </a>
                    </li>

                    <li class="features-item swiper-slide" style="width: 282.5px;">
                        <h3>2018年11月25日</h3>
                        <i></i>
                        <a class="features-info">
                            <p class="features-info-i"></p>
                            <p class="features-info-s">主网上线</p>
                        </a>
                    </li>

                    <li class="features-item swiper-slide" style="width: 282.5px;">
                        <h3>2018年12月7日</h3>
                        <i></i>
                        <a class="features-info">
                            <p class="features-info-i"></p>
                            <p class="features-info-s">上线Coineal交易所</p>
                        </a>
                    </li>

                    <li class="features-item swiper-slide" style="width: 282.5px;">
                        <h3>2019年1月20日</h3>
                        <i></i>
                        <a class="features-info">
                            <p class="features-info-i"></p>
                            <p class="features-info-s">iOS版Fn钱包正式发布</p>

                        </a>
                    </li>

                    <li class="features-item swiper-slide" style="width: 282.5px;">
                        <h3>2019年3月14日</h3>
                        <i></i>
                        <a class="features-info">
                            <p class="features-info-i"></p>
                            <p class="features-info-s">Filenet挖矿程序升级更新</p>

                        </a>
                    </li>

                    <li class="features-item swiper-slide" style="width: 282.5px;">
                        <h3>2019年4月4日</h3>
                        <i></i>
                        <a class="features-info">
                            <p class="features-info-i"></p>
                            <p class="features-info-s">Fn正式上线IPFSCOIN</p>

                        </a>
                    </li>

                    <li class="features-item swiper-slide" style="width: 282.5px;">
                        <h3>2019年6月27日</h3>
                        <i></i>
                        <a class="features-info">
                            <p class="features-info-i"></p>
                            <p class="features-info-s">Filenet主链硬分叉升级完成</p>

                        </a>
                    </li>

                    <li class="features-item swiper-slide" style="width: 282.5px;">
                        <h3>2019年7月9日</h3>
                        <i></i>
                        <a class="features-info">
                            <p class="features-info-i"></p>
                            <p class="features-info-s">Filenet开启超级节点</p>

                        </a>
                    </li>

                    <li class="features-item swiper-slide" style="width: 282.5px;">
                        <h3>2019年8月24日15:00</h3>
                        <i></i>
                        <a class="features-info">
                            <p class="features-info-i"></p>
                            <p class="features-info-s">上线BTB交易所</p>

                        </a>
                    </li>

                    <li class="features-item swiper-slide" style="width: 282.5px;">
                        <h3>2019年8月30日14：00</h3>
                        <i></i>
                        <a class="features-info">
                            <p class="features-info-i"></p>
                            <p class="features-info-s">上线ZG交易所</p>

                        </a>
                    </li>

                    <li class="features-item swiper-slide" style="width: 282.5px;">
                        <h3>2019年10月18日</h3>
                        <i></i>
                        <a class="features-info">
                            <p class="features-info-i"></p>
                            <p class="features-info-s">Filenet即将开启产能爬坡计划</p>

                        </a>
                    </li>

                    <li class="features-item swiper-slide" style="width: 282.5px;">
                        <h3>2019年10月21日</h3>
                        <i></i>
                        <a class="features-info">
                            <p class="features-info-i"></p>
                            <p class="features-info-s">上线ZB交易所</p>

                        </a>
                    </li>

                    <li class="features-item swiper-slide" style="width: 282.5px;">
                        <h3>2019年10月23日</h3>
                        <i></i>
                        <a class="features-info">
                            <p class="features-info-i"></p>
                            <p class="features-info-s">Filenet创始区块成功挖出一周年纪念日</p>

                        </a>
                    </li>

                    <li class="features-item swiper-slide" style="width: 282.5px;">
                        <h3>2019年11月</h3>
                        <i></i>
                        <a class="features-info">
                            <p class="features-info-i"></p>
                            <p class="features-info-s">Filenet官网即将作出重大改版</p>

                        </a>
                    </li>

                    <!-- feature -->
                    <li class="features-item swiper-slide dark" style="width: 282.5px;">
                        <h3>2020年3月</h3>
                        <i></i>
                        <a class="features-info">
                            <p class="features-info-i"></p>
                            <p class="features-info-s"> Filenet开源计划 </p>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- pre -->
            <div class="swiper-button-prev swiper-button-prev-roadline"></div>
            <!-- next -->
            <div class="swiper-button-next swiper-button-next-roadline"></div>
        </div>
    </div>

    <!-- footer -->
    <div class="footer">
        <div class="w1200">
            <div class="footer_up" data-aos="fade-up" data-aos-delay="200">
                <h5 data-aos="fade-up" class="footer_partner">合作伙伴
                    <i class="footer_partner_iconline"></i>
                </h5>
                <!-- subhead -->
                <div class="partner_subhead">
                    <div data-id="1" class="partner_subhead_normal partner_subhead_active">资本方</div>
                    <div data-id="2" class="partner_subhead_normal">交易所</div>
                    <div data-id="3" class="partner_subhead_normal">行情平台</div>
                    <div data-id="4" class="partner_subhead_normal">媒体</div>
                </div>

                <!-- swiper 2 -->
                <div class="partner_swiper partner_swiper_active">
                    <div id="swiper2" class="swiper-container swiper-container-2">

                        <div class="swiper-wrapper">
                            <!-- 1 -->
                            <div class="swiper-slide">
                                <div class="partner_logo_box_contain">
                                    <div class="partner_logo_box">
                                        <img src="../static/images/01_xiongan.png">
                                    </div>
                                    <div class="partner_logo_box">
                                        <img src="../static/images/02_bianhua.png">
                                    </div>
                                    <div class="partner_logo_box">
                                        <img src="../static/images/03_zijie.png">
                                    </div>
                                    <div class="partner_logo_box">
                                        <img src="../static/images/04_jiami.png">
                                    </div>
                                    <div class="partner_logo_box">
                                        <img src="../static/images/05_dingfeng.png">
                                    </div>
                                    <div class="partner_logo_box">
                                        <img src="../static/images/06_weilai.png">
                                    </div>
                                    <div class="partner_logo_box">
                                        <img src="../static/images/07_zhisheng.png">
                                    </div>
                                    <div class="partner_logo_box">
                                        <img src="../static/images/08_keyin.png">
                                    </div>
                                    <div class="partner_logo_box">
                                        <img src="../static/images/09_xiangxiangli.png">
                                    </div>
                                    <div class="partner_logo_box">
                                        <img src="../static/images/10_lianchuang.png">
                                    </div>
                                    <div class="partner_logo_box">
                                        <img src="../static/images/11_lianshan.png">
                                    </div>
                                    <div class="partner_logo_box">
                                        <img src="../static/images/12_jidou.png">
                                    </div>
                                </div>
                            </div>
                            <!-- 2 -->
                            <div class="swiper-slide">
                                <div class="partner_logo_box_contain">
                                    <div class="partner_logo_box">
                                        <img src="../static/images/13_qingsong.png">
                                    </div>
                                    <div class="partner_logo_box">
                                        <img src="../static/images/14_col.png">
                                    </div>
                                    <div class="partner_logo_box">
                                        <img src="../static/images/15_valiant.png">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- 导航按钮 -->
                    <div class="swiper-button-prev swiper-button-prev-partner swiper-button-prev-partner-2"></div>
                    <div class="swiper-button-next swiper-button-next-partner swiper-button-next-partner-2"></div>

                </div>

                <!-- swiper 3 -->
                <div class="partner_swiper">
                    <div id="swiper3" class="swiper-container swiper-container-2">

                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="partner_logo_box_contain">
                                    <div class="partner_logo_box">
                                        <a href="https://www.coineal.com/index.html#zh_CN" target="_blank">
                                            <img src="../static/images/11_coineal.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="http://www.zbexs.com" target="_blank">
                                            <img src="../static/images/12_ZB.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="https://www.zg.com" target="_blank">
                                            <img src="../static/images/13_ZG.png">
                                        </a>
                                    </div>
                                    <!-- <div class="partner_logo_box">
                                            <a href="https://www.btb.io" target="_blank">
                                                <img src="../static/images/14_btb.png">
                                            </a>
                                        </div> -->
                                    <div class="partner_logo_box">
                                        <a href="https://www.boboo.com" target="_blank">
                                            <img src="../static/images/15_bobo.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="https://www.mxc.com" target="_blank">
                                            <img src="../static/images/16_mxc.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="https://www.fmall.io" target="_blank">
                                            <img src="../static/images/17_fmall.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="https://fubt.co" target="_blank">
                                            <img src="../static/images/18_fubt.png">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- 导航按钮 -->
                    <div class="swiper-button-prev swiper-button-prev-partner swiper-button-prev-partner-3"></div>
                    <div class="swiper-button-next swiper-button-next-partner swiper-button-next-partner-3"></div>

                </div>

                <!-- swiper 4 -->
                <div class="partner_swiper">
                    <div id="swiper4" class="swiper-container swiper-container-2">

                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="partner_logo_box_contain">
                                    <div class="partner_logo_box">
                                        <a href="https://coinmarketcap.com/zh/currencies/filenet" target="_blank">
                                            <img src="../static/images/21_CMC.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="https://www.coingecko.com/en/coins/filenet" target="_blank">
                                            <img src="../static/images/22_coingecko.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="https://coincodex.com/crypto/filenet" target="_blank">
                                            <img src="../static/images/23_coincodex.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="https://blockfolio.com/" target="_blank">
                                            <img src="../static/images/25_blockfolio.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="https://coinpaprika.com/coin/fn-filenet" target="_blank">
                                            <img src="../static/images/26_coinpaprika.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="https://coinranking.com" target="_blank">
                                            <img src="../static/images/27_coinranking.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="https://www.cryptocompare.com" target="_blank">
                                            <img src="../static/images/28_cryptocompare.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="https://www.feixiaohao.com" target="_blank">
                                            <img src="../static/images/29_feixiaohao.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="https://coindar.org" target="_blank">
                                            <img src="../static/images/30_Coindar.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="https://www.mytokencap.com" target="_blank">
                                            <img src="../static/images/31_mytoken.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="https://cryptocurrency.org/currencies/85830/filenet?chartStart=1587027900000&chartEnd=1587114000000"
                                            target="_blank">
                                            <img src="../static/images/32_cryptocurrency.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="https://neironix.io/ru/cryptocurrency/filenet" target="_blank">
                                            <img src="../static/images/33_neironix.png">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- 导航按钮 -->
                    <div class="swiper-button-prev swiper-button-prev-partner swiper-button-prev-partner-4"></div>
                    <div class="swiper-button-next swiper-button-next-partner swiper-button-next-partner-4"></div>

                </div>

                <!-- swiper 5 -->
                <div class="partner_swiper">
                    <div id="swiper5" class="swiper-container swiper-container-2">

                        <div class="swiper-wrapper">
                            <!-- 1 -->
                            <div class="swiper-slide">
                                <div class="partner_logo_box_contain">
                                    <div class="partner_logo_box">
                                        <a href="https://www.bishijie.com" target="_blank">
                                            <img src="../static/images/31_bishijie.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="https://www.block360.pro" target="_blank">
                                            <img src="../static/images/32_buluoke.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="http://www.iterduo.com" target="_blank">
                                            <img src="../static/images/33_erduo.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="http://www.weilaicaijing.com" target="_blank">
                                            <img src="../static/images/34_weilai.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="https://yangtuobtc.com" target="_blank">
                                            <img src="../static/images/35_yangtuo.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="http://www.beekuaibao.com" target="_blank">
                                            <img src="../static/images/36_bikuaibao.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="https://www.chainhoo.com" target="_blank">
                                            <img src="../static/images/37_lianhu.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="https://www.coinness.com" target="_blank">
                                            <img src="../static/images/38_coinness.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="https://www.jinse.com" target="_blank">
                                            <img src="../static/images/39_jingse.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="http://www.huoxing24.com" target="_blank">
                                            <img src="../static/images/40_huoxing.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="https://coinpost.jp" target="_blank">
                                            <img src="../static/images/41_coinpost.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="https://blockchain-life.com/europe/en/news" target="_blank">
                                            <img src="../static/images/42_BL.png">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- 2 -->
                            <div class="swiper-slide">
                                <div class="partner_logo_box_contain">
                                    <div class="partner_logo_box">
                                        <a href="https://summit.dao.digital/GIVS#/?lang=en" target="_blank">
                                            <img src="../static/images/43_givs.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="https://coronavirusmap.me" target="_blank">
                                            <img src="../static/images/44_coronavirusmap.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="https://kcn.media" target="_blank">
                                            <img src="../static/images/45_kcn.png">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- 导航按钮 -->
                    <div class="swiper-button-prev swiper-button-prev-partner swiper-button-prev-partner-5"></div>
                    <div class="swiper-button-next swiper-button-next-partner swiper-button-next-partner-5"></div>

                </div>

            </div>

            <div class="footer_box" data-aos="fade-up" data-aos-delay="400">
                <h5 class="footer_box_title">快速访问</h5>
                <a href="#introduction">简介</a>
                <a href="#diagram">架构</a>
                <a href="#plan">贡献计划</a>
            </div>
            <div class="footer_box product" data-aos="fade-up" data-aos-delay="400">
                <h5 class="footer_box_title">产品</h5>
                <a href="./wallet_CH.html">钱包</a>
                <a href="./client_CH.html">挖矿</a>
            </div>
            <div class="footer_box develop" data-aos="fade-up" data-aos-delay="400">
                <h5 class="footer_box_title">开发者</h5>
                <a href="https://github.com/filenet" target="_blank">Github</a>
                <a href="./fullnode_CH.html">全节点钱包</a>
            </div>
            <div class="footer_box about" data-aos="fade-up" data-aos-delay="400">
                <h5 class="footer_box_title">关于</h5>
                <a href="#roadline">路线图</a>
                <a href="../static/file/Filenet White paper V2.0.pdf" target="_blank">白皮书</a>
                <a href="http://scan.filenet.io/#/" target="_blank">浏览器</a>
            </div>
            <div class="footer_box contact" data-aos="fade-up" data-aos-delay="400">
                <h5 class="footer_box_title">联系我们</h5>
                <!-- <a href="contact@filenet.io" class="email" target="_blank"> -->
                <div class="contactbox">
                    <a href="mailto://contact@filenet.io" class="email" target="_blank">
                        <i></i>
                    </a>
                    <a href="https://twitter.com/Filenetglobal" class="twitter" target="_blank">
                        <i></i>
                    </a>
                    <a href="https://www.facebook.com/profile.php?id=100027801881754" class="facebook" target="_blank">
                        <i></i>
                    </a>
                    <a href="https://www.reddit.com/user/FilenetGlobal/" class="reddit" target="_blank">
                        <i></i>
                    </a>
                    <a href="https://t.me/filenetcommunity" class="telegram" target="_blank">
                        <i></i>
                    </a>
                    <a href="javascript:void(0);" class="wechat">
                        <i></i>
                        <div class="weixin_qrcode">
                            <img src="../static/images/weixin_qrcodeimg.jpg">
                        </div>
                    </a>
                    <a href="https://t.bqi.com/u/307662.html" class="yinhao" target="_blank">
                        <i></i>
                    </a>
                    <a href="https://medium.com/@filenetglobal" class="medium" target="_blank">
                        <i></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Copyright -->
    <div class="wallet_footer">
        <div class="w1200">
            <p>© Copyright 2016-2020 filenet.io</p>
        </div>
    </div>

    <div style="display: none;">
        <script type="text/javascript" src="https://s9.cnzz.com/z_stat.php?id=1278307264&web_id=1278307264"></script>
    </div>

</body>

<!-- js -->
<script src="../static/js/three.min.js"></script>
<!-- <script src="../static/js/indexthree.js"></script> -->
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/swiper-3.4.2.jquery.min.js"></script>
<script src="../static/js/aos.js"></script>
<script src="../static/js/indexthree.js"></script>
<script src="../static/js/aosindex.js"></script>
<script src="../static/js/index.js"></script>

<script>
    window.onload = function () {
        $('body').removeClass('is-loading')
    }
</script>

</html>