<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- title -->
    <title>Filenet</title>
    <!-- seo -->
    <meta name="keywords" content="filecoin,云存储,filecoin挖矿,ipfs,filenet,区块链云存储,ipfs矿机,ipfs矿工,ipfs挖矿" />
    <meta name="description"
        content="filenet.io社区Filenet与IPFS一起构成一个完整的产品。Filenet是构建在IPFS协议之上的激励层，它的底层功能包括分布式存储和分布式网络等,通过相应的命令行，即可实现对挖矿程序参数的配置、数据的上传、下载等。Filenet与IPFS一起构成一个完整的产品。">
    <!-- favicon -->
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
    <!-- css -->
    <link rel="stylesheet" href="../static/css/loading.css">
    <link rel="stylesheet" href="../static/css/aos.css">
    <link rel="stylesheet" href="../static/css/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/filenet_new.css">
    <!-- iconfont -->
    <link rel="stylesheet" href="../static/iconfont/iconfont.css">
</head>

<body class="is-loading">
    <!-- loading -->
    <div class="curtain">
        <div class="loader">
            <p>l</p>
            <p>o</p>
            <p>a</p>
            <p>d</p>
            <p>i</p>
            <p>n</p>
            <p>g</p>
        </div>
    </div>

    <!-- header -->
    <div class="header">
        <div class="w1200">
            <h1 class="logo noselect">
                <a href="./index_Kr.html">
                    <img src="../static/images/logo.png">
                </a>
            </h1>
            <ul class="list noselect">
                <li class="home">
                    <a href="./index_Kr.html">홈</a>
                </li>
                <li class="applyxiala">신청 <i class="iconfont icon-xiala1"></i> <i class="iconline applyiconline"></i>
                    <!-- app -->
                    <div class="moreapply noselect">
                        <a href="./wallet_Kr.html">FN지갑</a>
                        <a href="./client_Kr.html">FN마이닝프로그램</a>
                        <a href="./fullnode_Kr.html">PC풀노드지갑</a>
                    </div>
                </li>
                <li class="announce">
                    <a href="./informationcenter_Kr.html">안내소</a>
                </li>
                <li class="applyxiala">비즈니스 생태 <i class="iconfont icon-xiala1"></i> <i
                        class="iconline applyiconline"></i>
                    <!-- app -->
                    <div class="moreapply noselect">
                        <a href="https://www.ztiao.club" target="_blank">ZTiao</a>
                        <a href="./fogcomputing_EN.html" target="_blank">Fog Computing</a>
                    </div>
                </li>
                <li class="announce">
                    <a href="http://scan.filenet.io/#/" target="_blank">브라우저</a>
                </li>
                <li class="langxiala">한국어 <i class="iconfont icon-xiala1"></i> <i class="iconline langiconline"></i>
                    <!-- lang -->
                    <div class="morelang noselect">
                        <a href="./index_EN.html">English</a>
                        <a href="./index_CH.html">简体中文</a>
                        <a href="./index_JP.html">日本語</a>
                        <a href="./index_RUS.html">русский</a>
                    </div>
                </li>
            </ul>
            <!-- fit -->
            <div class="header_more">
                <i class="iconfont icon-gengduo"></i>
            </div>
            <div class="header_more_box">
                <a href="./index_Kr.html">홈</a>
                <div pull-id="1" class="header_more_box_applyxiala header_more_box_xiala">신청 <i
                        class="iconfont icon-xiala1 myxiala"></i></div>
                <div class="header_more_box_moreapply header_more_box_pull">
                    <a href="./wallet_Kr.html">FN지갑</a>
                    <a href="./client_Kr.html">FN마이닝프로그램</a>
                    <a href="./fullnode_Kr.html">PC풀노드지갑</a>
                </div>
                <a href="./informationcenter_Kr.html">안내소</a>
                <div pull-id="2" class="header_more_box_applyxiala header_more_box_xiala">비즈니스 생태 <i
                        class="iconfont icon-xiala1 myxiala myxiala_eco_Kr"></i></div>
                <div class="header_more_box_moreapply header_more_box_pull">
                    <a href="https://www.ztiao.club" target="_blank">ZTiao</a>
                    <a href="./fogcomputing_EN.html" target="_blank">Fog Computing</a>
                </div>
                <a href="http://scan.filenet.io/#/" target="_blank">브라우저</a>
                <div pull-id="3" class="header_more_box_langxiala header_more_box_xiala">한국어 <i
                        class="iconfont icon-xiala1 myxiala myxiala_lang"></i>
                </div>
                <div class="header_more_box_morelang header_more_box_pull">
                    <a href="./index_EN.html">English</a>
                    <a href="./index_CH.html">简体中文</a>
                    <a href="./index_JP.html">日本語</a>
                    <a href="./index_RUS.html">русский</a>
                </div>
            </div>
        </div>
    </div>

    <!-- banner -->
    <div class="banner" id="banner">
        <div class="banner_title noselect banner_title_Kr">
            <div class="w1200 overflow">
                <h1 class="son" data-aos="fade-up">Filenet 분산 스토리지 트랙 <br> 리더</h1>
                <h1 class="son_fit" data-aos="fade-up">Filenet 분산 스토리지 트랙 리더</h1>
                <!-- <h2>목표는 저비용의 효율적인 분산 데이터</h2> -->
                <!-- <h2 class="lasth2">분배 네트워크를 구축하고 분산 스토리지로 상업용 폐쇄 루프를 형성하는 것입니다</h2> -->
                <a data-aos="fade-up" data-aos-delay="200" class="banner_button"
                    href="../static/file/FilenetWhitepaper.pdf" target="_blank">백서
                    읽기</a>
            </div>
        </div>
    </div>

    <!-- introduction -->
    <div class="introduction introduction_Kr" id="introduction">
        <div class="w1200">
            <div class="introduction_top introduction_top_Kr">
                <div class="introduction_top_txt">
                    <h2 data-aos="fade-up">Filenet 소개
                        <i class="iconline"></i>
                    </h2>
                    <p data-aos="fade-up" data-aos-delay="200">
                        Filenet (FN)은 메인 넷의 분산 스토리지 애플리케이션을위한 세계 최초의 공용 스토리지 체인이며 DPOS + POC 합의 메커니즘을 사용하는 분산 스토리지
                        애플리케이션을위한 최초의 공용 스토리지 체인입니다. Filenet은 채굴의 형태로 귀중한 컨텐츠를 저장 및 배포하여 유휴 대역폭 및 스토리지 공간에 기여할 수 있도록
                        보상합니다. Filenet의 임무는 모든 유휴 스토리지 공간을 연결하는 것입니다. 인터넷에 연결할 수있는 모든 스토리지
                        장치는 마이닝에 참여하고 강력한 분산 데이터 서비스 시스템을 형성 할 수 있습니다. 간단히 말해 Filenet은 분산 스토리지 컨텐츠 공유를 기반으로하는 슈퍼 클라우드
                        시스템입니다.
                    </p>
                </div>
                <div class="introduction_top_img" data-aos="fade-up" data-aos-delay="300">
                    <img src="../static/images/introduction_img.png">
                </div>
            </div>
            <div class="introduction_bottom" data-aos="fade-up" data-aos-delay="400">
                <div class="introduction_bottom_box">
                    <p class="introduction_bottom_box_title">데이터 배포</p>
                    <p class="introduction_bottom_box_content">
                        Filenet은 귀중한 컨텐츠를 저장 및 배포하기 위해 노력하고 있으며, 시스템은 파일 승격 시스템을 제공합니다. 더 많은 데이터를 검색할수록 더 많은 데이터가 인기를
                        얻게되고 파일은 마이닝에 참여할 수 있습니다.</p>
                    <img src="../static/images/introduction_data.png">
                </div>
                <div class="introduction_bottom_box">
                    <p class="introduction_bottom_box_title">무료 스토어</p>
                    <p class="introduction_bottom_box_content">
                        Filenet은 DAO 메커니즘을 채택하고 있으며 Filenet 시스템에서는 사용자가 업로드 및 다운로드 비용을 지불하지 않아도되므로 엔터프라이즈 서버 및 대역폭 비용이
                        크게 절감됩니다.</p>
                    <img src="../static/images/introduction_cunchu.png">
                </div>
                <div class="introduction_bottom_box">
                    <p class="introduction_bottom_box_title">마이닝 모드</p>
                    <p class="introduction_bottom_box_content">
                        Filenet은 검색 및 배포 마이닝 모델을 기반으로하며, 특정 마진을 약속하고 마이닝에 참여할 특정 저장 공간을 제공합니다. 광부의 기여가 높을수록 블록의 확률이
                        높습니다.
                    </p>
                    <img src="../static/images/introduction_wakuang.png">
                </div>
            </div>
        </div>
    </div>

    <!-- diagram -->
    <div class="diagram overflow" id="diagram">
        <div class="diagram_bgkuang">
            <i class="yellowicon"></i>
            <i class="blueiconleft"></i>
            <i class="blueiconright"></i>
            <div class="w1200 diagram_contain">
                <div data-aos="fade-up" data-aos-delay="100" class="diagram_contain_img">
                    <img src="../static/images/diagram.png">
                </div>
                <div class="diagram_txt">
                    <h2 data-aos="fade-up">Filenet 건축 도표
                        <i class="iconline"></i>
                    </h2>
                    <p data-aos="fade-up" data-aos-delay="200"> <i class="doticon"></i> 분산 스토리지의 첫 번째 애플리케이션 공개 체인 인
                        Filenet은 많은 분산 스토리지 프로토콜과 함께 완벽한 애플리케이션 솔루션을 형성합니다. Filenet의 기본 기능은 분산 스토리지 및 분산 네트워크를 포함하며,
                        Filenet을 실행하는 내 물리적 장치에 의해 구현됩니다.
                    </p>
                    <p data-aos="fade-up" data-aos-delay="400"> <i class="doticon"></i> Filenet은 검색 및 배포 서비스를 위해 분산
                        네트워크에서 실행되며 블록 관리, 합의 메커니즘 및 스마트 계약을 포함합니다. DAPP는 DFN 및 Filenet에서 실행되며 사용자는 DAPP를 통해 데이터를 업로드 및
                        다운로드합니다.
                    </p>
                    <p data-aos="fade-up" data-aos-delay="600"> <i class="doticon"></i> 분산 파일 네트워크 (DFN)는 데이터 승격 시스템을
                        제공합니다. 사용자가 장치를 통해 데이터를 업로드하면 데이터가 로컬에 저장되고, 데이터를 더 많이 검색하면 데이터가 점차 공용 네트워크에 들어가서 대중적인 데이터가되어
                        데이터가 마이닝에 참여할 수 있습니다.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- plan -->
    <div class="plan plan_Kr" id="plan">
        <div class="w1200 plan_contain">
            <div class="plan_contain_txt overflow">
                <h2 data-aos="fade-up">Filenet 기부 계획
                    <i class="iconline"></i>
                </h2>
                <p data-aos="fade-up" data-aos-delay="200" class="plan_contain_txt_summary"> Filenet의 프레임 워크 내에서 총 10 억
                    건이 발행되며 그 중 80 %가 채굴을 통해 생성됩니다.<br>광부는 스토리지 리소스를 제공하고, 데이터를 저장하고, 사용자에게 데이터 검색 및 배포를 제공하고, 검색을 통해
                    수익을 창출합니다.</p>
                <p data-aos="fade-up" data-aos-delay="400" class="plan_contain_txt_dot"> <i class="doticon"></i> 10 %는
                    기술 커뮤니티 인센티브 및 10 년간 점진적인 금지 해제에 사용됩니다.
                </p>
                <p data-aos="fade-up" data-aos-delay="500" class="plan_contain_txt_dot"> <i class="doticon"></i> 10 %는
                    생태 건축 지원에 사용되며 광업 진행에 따라 점차 상승합니다.
                </p>
                <p data-aos="fade-up" data-aos-delay="600" class="plan_contain_txt_dot"> <i class="doticon"></i> 80
                    %는“저장 또는 포장에 참여”함으로써 채굴되며 약 5.07 년마다 절반 씩 감소합니다.
                </p>
                <p data-aos="fade-up" data-aos-delay="700" class="plan_contain_txt_dot"> <i class="doticon"></i> FN은
                    DPOS + POC 인증 메커니즘을 사용하여 10 초마다 하나의 블록을 생성하며 처음에는 블록 당 25FN을 보상합니다.
                </p>
            </div>
            <div class="plan_contain_img" data-aos="fade-up" data-aos-delay="100">
                <img src="../static/images/plan.png">
            </div>
        </div>
    </div>

    <!-- roadline -->
    <div class="product-section product-features overflow" id="roadline">
        <h2 data-aos="fade-up" class="product-title product-title_Kr">Filenet 노선 그림<i class="iconline"></i> </h2>
        <!-- wrapper -->
        <div class="product-wrapper" data-aos="fade-up" data-aos-delay="200">
            <div id="swiper1" class="product-body swiper-container swiper-container-horizontal">
                <ul class="features-slide swiper-wrapper"
                    style="transform: translate3d(-565px, 0px, 0px); transition-duration: 0ms;">
                    <li class="features-item swiper-slide" style="width: 282.5px;">
                        <h3>2017 년 10 월</h3>
                        <i></i>
                        <a class="features-info">
                            <p class="features-info-i"></p>
                            <p class="features-info-s"> Filenet 프로젝트 시작 </p>

                        </a>
                    </li>

                    <li class="features-item swiper-slide swiper-slide-prev" style="width: 282.5px;">
                        <h3>2018 년 8 월 3 일</h3>
                        <i></i>
                        <a class="features-info">
                            <p class="features-info-i"></p>
                            <p class="features-info-s"> 조기 광부 모집 </p>

                        </a>
                    </li>

                    <li class="features-item swiper-slide swiper-slide-active" style="width: 282.5px;">
                        <h3>2018 년 9 월 19 일</h3>
                        <i></i>
                        <a class="features-info">
                            <p class="features-info-i"></p>
                            <p class="features-info-s"> Filenet wallet Fn Wallet이 예약되었습니다 </p>

                        </a>
                    </li>

                    <li class="features-item swiper-slide swiper-slide-next" style="width: 282.5px;">
                        <h3>2018 년 10 월 11 일</h3>
                        <i></i>
                        <a class="features-info">
                            <p class="features-info-i"></p>
                            <p class="features-info-s"> 프로젝트 내부 테스트 시작 </p>

                        </a>
                    </li>

                    <li class="features-item swiper-slide" style="width: 282.5px;">
                        <h3>2018 년 11 월 25 일</h3>
                        <i></i>
                        <a class="features-info">
                            <p class="features-info-i"></p>
                            <p class="features-info-s">메인 온라인 라인</p>

                        </a>
                    </li>

                    <li class="features-item swiper-slide" style="width: 282.5px;">
                        <h3>2018 년 12 월 7 일</h3>
                        <i></i>
                        <a class="features-info">
                            <p class="features-info-i"></p>
                            <p class="features-info-s">온라인 동전 교환</p>

                        </a>
                    </li>

                    <li class="features-item swiper-slide" style="width: 282.5px;">
                        <h3>2019 년 1 월 20 일</h3>
                        <i></i>
                        <a class="features-info">
                            <p class="features-info-i"></p>
                            <p class="features-info-s">Fn 지갑 iOS 버전 공식 출시</p>

                        </a>
                    </li>

                    <li class="features-item swiper-slide" style="width: 282.5px;">
                        <h3>2019 년 3 월 14 일</h3>
                        <i></i>
                        <a class="features-info">
                            <p class="features-info-i"></p>
                            <p class="features-info-s">Filenet 마이닝 프로그램 업그레이드 업데이트</p>

                        </a>
                    </li>

                    <li class="features-item swiper-slide" style="width: 282.5px;">
                        <h3>2019年4月4日</h3>
                        <i></i>
                        <a class="features-info">
                            <p class="features-info-i"></p>
                            <p class="features-info-s">2019 년 4 월 4 일</p>

                        </a>
                    </li>

                    <li class="features-item swiper-slide" style="width: 282.5px;">
                        <h3>2019 년 6 월 27 일</h3>
                        <i></i>
                        <a class="features-info">
                            <p class="features-info-i"></p>
                            <p class="features-info-s">Filenet 메인 체인 하드 포크 업그레이드 완료</p>

                        </a>
                    </li>

                    <li class="features-item swiper-slide" style="width: 282.5px;">
                        <h3>2019 년 7 월 9 일</h3>
                        <i></i>
                        <a class="features-info">
                            <p class="features-info-i"></p>
                            <p class="features-info-s">Filenet이 슈퍼 노드를 엽니 다</p>

                        </a>
                    </li>

                    <li class="features-item swiper-slide" style="width: 282.5px;">
                        <h3>2019 년 8 월 25 일 15:00</h3>
                        <i></i>
                        <a class="features-info">
                            <p class="features-info-i"></p>
                            <p class="features-info-s">온라인 BTB 거래소</p>

                        </a>
                    </li>

                    <li class="features-item swiper-slide" style="width: 282.5px;">
                        <h3>2019 년 8 월 30 일 14:00</h3>
                        <i></i>
                        <a class="features-info">
                            <p class="features-info-i"></p>
                            <p class="features-info-s">온라인 ZG 거래소</p>

                        </a>
                    </li>

                    <li class="features-item swiper-slide" style="width: 282.5px;">
                        <h3>2019 년 10 월 18 일</h3>
                        <i></i>
                        <a class="features-info">
                            <p class="features-info-i"></p>
                            <p class="features-info-s">Filenet이 용량 램프를 열려고합니다</p>

                        </a>
                    </li>

                    <li class="features-item swiper-slide" style="width: 282.5px;">
                        <h3>2019 년 10 월 21 일</h3>
                        <i></i>
                        <a class="features-info">
                            <p class="features-info-i"></p>
                            <p class="features-info-s">온라인 ZB 교환</p>

                        </a>
                    </li>

                    <li class="features-item swiper-slide" style="width: 282.5px;">
                        <h3>2019 년 10 월 23 일</h3>
                        <i></i>
                        <a class="features-info">
                            <p class="features-info-i"></p>
                            <p class="features-info-s">Filenet 파운딩 블록은 첫 번째 기념일을 성공적으로 파헤칩니다.</p>

                        </a>
                    </li>

                    <li class="features-item swiper-slide" style="width: 282.5px;">
                        <h3>2019 년 11 월</h3>
                        <i></i>
                        <a class="features-info">
                            <p class="features-info-i"></p>
                            <p class="features-info-s">Filenet 공식 웹 사이트는 주요 개정을하려고합니다</p>

                        </a>
                    </li>

                    <!-- feature -->
                    <li class="features-item swiper-slide dark" style="width: 282.5px;">
                        <h3>2020 년 3 월</h3>
                        <i></i>
                        <a class="features-info">
                            <p class="features-info-i"></p>
                            <p class="features-info-s"> Filenet 오픈 소스 프로그램 </p>

                        </a>
                    </li>
                </ul>
            </div>
            <!-- pre -->
            <div class="swiper-button-prev swiper-button-prev-roadline"></div>
            <!-- next -->
            <div class="swiper-button-next swiper-button-next-roadline"></div>
        </div>
    </div>

    <!-- footer -->
    <div class="footer">
        <div class="w1200">
            <div class="footer_up" data-aos="fade-up">
                <h5 data-aos="fade-up" class="footer_partner footer_partner_Kr">파트너
                    <i class="footer_partner_iconline"></i>
                </h5>
                <!-- subhead -->
                <div class="partner_subhead">
                    <div data-id="1" class="partner_subhead_normal partner_subhead_active">자본 측면</div>
                    <div data-id="2" class="partner_subhead_normal">교환</div>
                    <div data-id="3" class="partner_subhead_normal">플랫폼 인용</div>
                    <div data-id="4" class="partner_subhead_normal">미디어</div>
                </div>

                <!-- swiper 2 -->
                <div class="partner_swiper partner_swiper_active">
                    <div id="swiper2" class="swiper-container swiper-container-2">

                        <div class="swiper-wrapper">
                            <!-- 1 -->
                            <div class="swiper-slide">
                                <div class="partner_logo_box_contain">
                                    <div class="partner_logo_box">
                                        <img src="../static/images/01_xiongan.png">
                                    </div>
                                    <div class="partner_logo_box">
                                        <img src="../static/images/02_bianhua.png">
                                    </div>
                                    <div class="partner_logo_box">
                                        <img src="../static/images/03_zijie.png">
                                    </div>
                                    <div class="partner_logo_box">
                                        <img src="../static/images/04_jiami.png">
                                    </div>
                                    <div class="partner_logo_box">
                                        <img src="../static/images/05_dingfeng.png">
                                    </div>
                                    <div class="partner_logo_box">
                                        <img src="../static/images/06_weilai.png">
                                    </div>
                                    <div class="partner_logo_box">
                                        <img src="../static/images/07_zhisheng.png">
                                    </div>
                                    <div class="partner_logo_box">
                                        <img src="../static/images/08_keyin.png">
                                    </div>
                                    <div class="partner_logo_box">
                                        <img src="../static/images/09_xiangxiangli.png">
                                    </div>
                                    <div class="partner_logo_box">
                                        <img src="../static/images/10_lianchuang.png">
                                    </div>
                                    <div class="partner_logo_box">
                                        <img src="../static/images/11_lianshan.png">
                                    </div>
                                    <div class="partner_logo_box">
                                        <img src="../static/images/12_jidou.png">
                                    </div>
                                </div>
                            </div>
                            <!-- 2 -->
                            <div class="swiper-slide">
                                <div class="partner_logo_box_contain">
                                    <div class="partner_logo_box">
                                        <img src="../static/images/13_qingsong.png">
                                    </div>
                                    <div class="partner_logo_box">
                                        <img src="../static/images/14_col.png">
                                    </div>
                                    <div class="partner_logo_box">
                                        <img src="../static/images/15_valiant.png">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- 导航按钮 -->
                    <div class="swiper-button-prev swiper-button-prev-partner swiper-button-prev-partner-2"></div>
                    <div class="swiper-button-next swiper-button-next-partner swiper-button-next-partner-2"></div>

                </div>

                <!-- swiper 3 -->
                <div class="partner_swiper">
                    <div id="swiper3" class="swiper-container swiper-container-2">

                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="partner_logo_box_contain">
                                    <div class="partner_logo_box">
                                        <a href="https://www.coineal.com/index.html#zh_CN" target="_blank">
                                            <img src="../static/images/11_coineal.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="http://www.zbexs.com" target="_blank">
                                            <img src="../static/images/12_ZB.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="https://www.zg.com" target="_blank">
                                            <img src="../static/images/13_ZG.png">
                                        </a>
                                    </div>
                                    <!-- <div class="partner_logo_box">
                                            <a href="https://www.btb.io" target="_blank">
                                                <img src="../static/images/14_btb.png">
                                            </a>
                                        </div> -->
                                    <div class="partner_logo_box">
                                        <a href="https://www.boboo.com" target="_blank">
                                            <img src="../static/images/15_bobo.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="https://www.mxc.com" target="_blank">
                                            <img src="../static/images/16_mxc.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="https://www.fmall.io" target="_blank">
                                            <img src="../static/images/17_fmall.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="https://fubt.co" target="_blank">
                                            <img src="../static/images/18_fubt.png">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- 导航按钮 -->
                    <div class="swiper-button-prev swiper-button-prev-partner swiper-button-prev-partner-3"></div>
                    <div class="swiper-button-next swiper-button-next-partner swiper-button-next-partner-3"></div>

                </div>

                <!-- swiper 4 -->
                <div class="partner_swiper">
                    <div id="swiper4" class="swiper-container swiper-container-2">

                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="partner_logo_box_contain">
                                    <div class="partner_logo_box">
                                        <a href="https://coinmarketcap.com/zh/currencies/filenet" target="_blank">
                                            <img src="../static/images/21_CMC.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="https://www.coingecko.com/en/coins/filenet" target="_blank">
                                            <img src="../static/images/22_coingecko.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="https://coincodex.com/crypto/filenet" target="_blank">
                                            <img src="../static/images/23_coincodex.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="https://blockfolio.com/" target="_blank">
                                            <img src="../static/images/25_blockfolio.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="https://coinpaprika.com/coin/fn-filenet" target="_blank">
                                            <img src="../static/images/26_coinpaprika.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="https://coinranking.com" target="_blank">
                                            <img src="../static/images/27_coinranking.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="https://www.cryptocompare.com" target="_blank">
                                            <img src="../static/images/28_cryptocompare.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="https://www.feixiaohao.com" target="_blank">
                                            <img src="../static/images/29_feixiaohao.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="https://coindar.org" target="_blank">
                                            <img src="../static/images/30_Coindar.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="https://www.mytokencap.com" target="_blank">
                                            <img src="../static/images/31_mytoken.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="https://cryptocurrency.org/currencies/85830/filenet?chartStart=1587027900000&chartEnd=1587114000000"
                                            target="_blank">
                                            <img src="../static/images/32_cryptocurrency.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="https://neironix.io/ru/cryptocurrency/filenet" target="_blank">
                                            <img src="../static/images/33_neironix.png">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- 导航按钮 -->
                    <div class="swiper-button-prev swiper-button-prev-partner swiper-button-prev-partner-4"></div>
                    <div class="swiper-button-next swiper-button-next-partner swiper-button-next-partner-4"></div>

                </div>

                <!-- swiper 5 -->
                <div class="partner_swiper">
                    <div id="swiper5" class="swiper-container swiper-container-2">

                        <div class="swiper-wrapper">
                            <!-- 1 -->
                            <div class="swiper-slide">
                                <div class="partner_logo_box_contain">
                                    <div class="partner_logo_box">
                                        <a href="https://www.bishijie.com" target="_blank">
                                            <img src="../static/images/31_bishijie.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="https://www.block360.pro" target="_blank">
                                            <img src="../static/images/32_buluoke.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="http://www.iterduo.com" target="_blank">
                                            <img src="../static/images/33_erduo.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="http://www.weilaicaijing.com" target="_blank">
                                            <img src="../static/images/34_weilai.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="https://yangtuobtc.com" target="_blank">
                                            <img src="../static/images/35_yangtuo.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="http://www.beekuaibao.com" target="_blank">
                                            <img src="../static/images/36_bikuaibao.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="https://www.chainhoo.com" target="_blank">
                                            <img src="../static/images/37_lianhu.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="https://www.coinness.com" target="_blank">
                                            <img src="../static/images/38_coinness.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="https://www.jinse.com" target="_blank">
                                            <img src="../static/images/39_jingse.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="http://www.huoxing24.com" target="_blank">
                                            <img src="../static/images/40_huoxing.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="https://coinpost.jp" target="_blank">
                                            <img src="../static/images/41_coinpost.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="https://blockchain-life.com/europe/en/news" target="_blank">
                                            <img src="../static/images/42_BL.png">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- 2 -->
                            <div class="swiper-slide">
                                <div class="partner_logo_box_contain">
                                    <div class="partner_logo_box">
                                        <a href="https://summit.dao.digital/GIVS#/?lang=en" target="_blank">
                                            <img src="../static/images/43_givs.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="https://coronavirusmap.me" target="_blank">
                                            <img src="../static/images/44_coronavirusmap.png">
                                        </a>
                                    </div>
                                    <div class="partner_logo_box">
                                        <a href="https://kcn.media" target="_blank">
                                            <img src="../static/images/45_kcn.png">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- 导航按钮 -->
                    <div class="swiper-button-prev swiper-button-prev-partner swiper-button-prev-partner-5"></div>
                    <div class="swiper-button-next swiper-button-next-partner swiper-button-next-partner-5"></div>

                </div>

            </div>
            <div class="footer_box" data-aos="fade-up" data-aos-delay="400">
                <h5 class="footer_box_title">빠른 액세스</h5>
                <a href="#introduction">소개</a>
                <a href="#diagram">건축</a>
                <!-- <a href="#diagram">아키텍처 다이어그램</a> -->
                <a href="#plan">기부 계획</a>
            </div>
            <div class="footer_box product" data-aos="fade-up" data-aos-delay="400">
                <h5 class="footer_box_title">제품</h5>
                <a href="./wallet_Kr.html">월렛</a>
                <a href="./client_Kr.html">채광</a>
            </div>
            <div class="footer_box develop" data-aos="fade-up" data-aos-delay="400">
                <h5 class="footer_box_title">개발자</h5>
                <a href="https://github.com/filenet" target="_blank">Github</a>
                <a href="./fullnode_Kr.html">풀 노드 지갑</a>
            </div>
            <div class="footer_box about" data-aos="fade-up" data-aos-delay="400">
                <h5 class="footer_box_title">소개</h5>
                <a href="#roadline">도로지도</a>
                <a href="../static/file/FilenetWhitepaper.pdf" target="_blank">백서</a>
                <a href="http://scan.filenet.io/#/" target="_blank">브라우저</a>
            </div>
            <div class="footer_box contact" data-aos="fade-up" data-aos-delay="400">
                <h5 class="footer_box_title">연락주세요</h5>
                <div class="contactbox">
                    <a href="mailto://contact@filenet.io" class="email" target="_blank">
                        <i></i>
                    </a>
                    <a href="https://twitter.com/Filenetglobal" class="twitter" target="_blank">
                        <i></i>
                    </a>
                    <a href="https://www.facebook.com/profile.php?id=100027801881754" class="facebook" target="_blank">
                        <i></i>
                    </a>
                    <a href="https://www.reddit.com/user/FilenetGlobal/" class="reddit" target="_blank">
                        <i></i>
                    </a>
                    <a href="https://t.me/filenetcommunity" class="telegram" target="_blank">
                        <i></i>
                    </a>
                    <a href="javascript:void(0);" class="wechat">
                        <i></i>
                        <div class="weixin_qrcode">
                            <img src="../static/images/weixin_qrcodeimg.jpg">
                        </div>
                    </a>
                    <a href="https://t.bqi.com/u/307662.html" class="yinhao" target="_blank">
                        <i></i>
                    </a>
                    <a href="https://medium.com/@filenetglobal" class="medium" target="_blank">
                        <i></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Copyright -->
    <div class="wallet_footer">
        <div class="w1200">
            <p>© Copyright 2016-2020 filenet.io</p>
        </div>
    </div>

    <div style="display: none;">
        <script type="text/javascript" src="https://s9.cnzz.com/z_stat.php?id=1278307264&web_id=1278307264"></script>
    </div>

</body>

<!-- js -->
<script src="../static/js/three.min.js"></script>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/swiper-3.4.2.jquery.min.js"></script>
<script src="../static/js/aos.js"></script>
<script src="../static/js/indexthree.js"></script>
<script src="../static/js/aosindex.js"></script>
<script src="../static/js/index.js"></script>

<script>
    window.onload = function () {
        $('body').removeClass('is-loading')
    }
</script>

</html>