<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- title -->
    <title>Filenet</title>
    <!-- seo -->
    <meta name="keywords" content="filecoin,云存储,filecoin挖矿,ipfs,filenet,区块链云存储,ipfs矿机,ipfs矿工,ipfs挖矿" />
    <meta name="description"
        content="filenet.io社区Filenet与IPFS一起构成一个完整的产品。Filenet是构建在IPFS协议之上的激励层，它的底层功能包括分布式存储和分布式网络等,通过相应的命令行，即可实现对挖矿程序参数的配置、数据的上传、下载等。Filenet与IPFS一起构成一个完整的产品。">
    <!-- favicon -->
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
    <!-- layui css -->
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <!-- css -->
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/filenet_new.css">
    <!-- iconfont -->
    <link rel="stylesheet" href="../static/iconfont/iconfont.css">
</head>

<body>
    <!-- header -->
    <div class="header wallet_header">
        <div class="w1200">
            <h1 class="logo noselect">
                <a href="./index_RUS.html">
                    <img src="../static/images/logo.png">
                </a>
            </h1>
            <ul class="list noselect">
                <li class="home">
                    <a href="./index_RUS.html">дома</a>
                </li>
                <li class="applyxiala">приложение <i class="iconfont icon-xiala1"></i> <i
                        class="iconline applyiconline"></i>
                    <!-- app -->
                    <div class="moreapply noselect moreapply_RUS wallet_moreapply">
                        <a href="./wallet_RUS.html">FN кошелек</a>
                        <a href="./client_RUS.html">Программа майнинга FN</a>
                        <a href="./fullnode_RUS.html">ПК полный узел кошелек</a>
                    </div>
                </li>
                <li class="announce">
                    <a href="./informationcenter_RUS.html">Информационный центр</a>
                </li>
                <li class="applyxiala">Экология бизнеса <i class="iconfont icon-xiala1"></i> <i
                        class="iconline applyiconline"></i>
                    <!-- app -->
                    <div class="moreapply noselect moreapply_RUS wallet_moreapply">
                        <a href="https://www.ztiao.club" target="_blank">ZTiao</a>
                        <a href="./fogcomputing_EN.html" target="_blank">Fog Computing</a>
                    </div>
                </li>
                <li class="announce">
                    <a href="http://scan.filenet.io/#/" target="_blank">браузер</a>
                </li>
                <li class="langxiala">русский <i class="iconfont icon-xiala1"></i> <i class="iconline langiconline"></i>
                    <!-- lang -->
                    <div class="morelang noselect wallet_morelang">
                        <a href="./informationcenter_announcement_EN.html">English</a>
                        <a href="./informationcenter_announcement_Kr.html">한국어</a>
                        <a href="./informationcenter_announcement_JP.html">日本語</a>
                        <a href="./informationcenter_announcement_CH.html">简体中文</a>
                    </div>
                </li>
            </ul>
            <!-- fit -->
            <div class="header_more">
                <i class="iconfont icon-gengduo"></i>
            </div>
            <div class="header_more_box header_more_box_other">
                <a href="./index_RUS.html">дома</a>
                <div pull-id="1" class="header_more_box_applyxiala header_more_box_xiala">приложение <i
                        class="iconfont icon-xiala1 myxiala myxiala_RUS"></i></div>
                <div class="header_more_box_moreapply header_more_box_pull">
                    <a href="./wallet_RUS.html">FN кошелек</a>
                    <a href="./client_RUS.html">Программа майнинга FN</a>
                    <a href="./fullnode_RUS.html">ПК полный узел кошелек</a>
                </div>
                <a href="./informationcenter_RUS.html">Информационный центр</a>
                <div pull-id="2" class="header_more_box_applyxiala header_more_box_xiala">Экология бизнеса <i
                        class="iconfont icon-xiala1 myxiala myxiala_eco_RUS"></i></div>
                <div class="header_more_box_moreapply header_more_box_pull">
                    <a href="https://www.ztiao.club" target="_blank">ZTiao</a>
                    <a href="./fogcomputing_EN.html" target="_blank">Fog Computing</a>
                </div>
                <a href="http://scan.filenet.io/#/" target="_blank">браузер</a>
                <div pull-id="3" class="header_more_box_langxiala header_more_box_xiala">русский <i
                        class="iconfont icon-xiala1 myxiala myxiala_lang"></i>
                </div>
                <div class="header_more_box_morelang header_more_box_pull">
                    <a href="./informationcenter_announcement_EN.html">English</a>
                    <a href="./informationcenter_announcement_Kr.html">한국어</a>
                    <a href="./informationcenter_announcement_JP.html">日本語</a>
                    <a href="./informationcenter_announcement_CH.html">简体中文</a>
                </div>
            </div>
        </div>
    </div>

    <!-- frame start -->
    <div class="informationcenter_news_outer">
        <div class="informationcenter_news_inner" style="padding-bottom: 90px;">

            <!-- nav start -->
            <div class="informationcenter_news_nav">
                <div class="informationcenter_news_nav_innerbox">
                    <a class="informationcenter_news_nav_a" href="./index_RUS.html">дома</a>
                    <span>></span>
                    <a class="informationcenter_news_nav_a" href="./informationcenter_RUS.html">Информационный центр</a>
                    <span>></span>
                    <span class="informationcenter_news_nav_this">объявлен</span>
                </div>
            </div>
            <!-- nav end -->

            <!-- ann start -->
            <div id="view"></div>
            <!-- ann end -->

            <!-- page -->
            <div id="mypage" class="mypage"></div>

        </div>
    </div>
    <!-- frame end -->

    <!-- footer -->
    <div class="wallet_footer">
        <div class="w1200">
            <p>© Copyright 2016-2020 filenet.io</p>
        </div>
    </div>

    <div style="display: none;">
        <script type="text/javascript" src="https://s9.cnzz.com/z_stat.php?id=1278307264&web_id=1278307264"></script>
    </div>

</body>

<!-- js -->
<script src="../static/js/jquery.min.js"></script>
<script src="../static/layer/layer.js"></script>
<script src="../static/layui/layui.js"></script>
<script src="../static/js/common.js"></script>
<script src="../static/js/baseurl.js"></script>

<script id="demo" type="text/html">
    {{# layui.each(d.list, function(index, item){ }}
    <a class="informationcenter_ann_box_a" href="./informationcenter_announcement_details_RUS.html?id={{item.noticeId}}">
        <div class="informationcenter_ann_box">
            <p class="informationcenter_ann_box_title oneline">{{item.noticeTitle}}</p>
            <p class="informationcenter_ann_box_time">{{item.noticeTime}}</p>
            <p class="informationcenter_ann_box_text">{{item.noticeNewsletter}}</p>
        </div>
    </a>
    {{# }); }} {{# if(d.list.length === 0){ }} {{# } }}
</script>

<script>
    var data = {
        "list": [],
    }

    var pageSize = 10

    var list = []

    // view
    // page
    layui.use(['laytpl', 'laypage'], function () {
        var laytpl = layui.laytpl;
        var laypage = layui.laypage;

        //loading
        var loading = layer.load(2, {
            shade: false
        });

        $.ajax({
            url: baseurl + '/nitice/list?noticeType=5&style=1', // 俄文  公告
            type: 'get',
            //
            success: function (res) {
                layer.close(loading);
                // console.log(res);
                if (res.status == 200) {
                    // 
                    list = res.data
                    if (res.data.length <= pageSize) {
                        data.list = res.data
                    } else {
                        for (var i = 0; i < pageSize; i++) {
                            data.list.push(res.data[i])
                        }
                    }
                    // 
                    var getTpl = demo.innerHTML,
                        view = document.getElementById('view');
                    laytpl(getTpl).render(data, function (html) {
                        view.innerHTML = html;
                    });
                    // 
                    //
                    laypage.render({
                        elem: 'mypage',
                        count: res.data.length,
                        layout: ['page'],
                        limit: pageSize,
                        jump: function (obj, first) {
                            if (!first) {
                                //do something
                                // console.log(obj.curr);
                                var size = pageSize * obj.curr
                                data.list = []
                                if (size > list.length) {
                                    for (var i = size - pageSize; i < list
                                        .length; i++) {
                                        data.list.push(list[i])
                                    }
                                    // console.log(data.list)
                                    // 
                                    var getTpl = demo.innerHTML,
                                        view = document.getElementById('view');
                                    laytpl(getTpl).render(data, function (html) {
                                        view.innerHTML = html;
                                    });
                                } else {
                                    for (var i = size - pageSize; i < size; i++) {
                                        data.list.push(list[i])
                                    }
                                    // console.log(data.list)
                                    // 
                                    var getTpl = demo.innerHTML,
                                        view = document.getElementById('view');
                                    laytpl(getTpl).render(data, function (html) {
                                        view.innerHTML = html;
                                    });
                                }
                            }
                        }
                    });
                } else {
                    alert(res.msg)
                }
            },
        })
    });
</script>

</html>