<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- title -->
    <title>Filenet</title>
    <!-- seo -->
    <meta name="keywords" content="filecoin,云存储,filecoin挖矿,ipfs,filenet,区块链云存储,ipfs矿机,ipfs矿工,ipfs挖矿" />
    <meta name="description"
        content="filenet.io社区Filenet与IPFS一起构成一个完整的产品。Filenet是构建在IPFS协议之上的激励层，它的底层功能包括分布式存储和分布式网络等,通过相应的命令行，即可实现对挖矿程序参数的配置、数据的上传、下载等。Filenet与IPFS一起构成一个完整的产品。">
    <!-- favicon -->
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
    <!-- layui css -->
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <!-- css -->
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/filenet_new.css">
    <!-- iconfont -->
    <link rel="stylesheet" href="../static/iconfont/iconfont.css">
</head>

<body>
    <!-- header -->
    <div class="header wallet_header">
        <div class="w1200">
            <h1 class="logo noselect">
                <a href="./index_CH.html">
                    <img src="../static/images/logo.png">
                </a>
            </h1>
            <ul class="list noselect">
                <li class="home">
                    <a href="./index_CH.html">首页</a>
                </li>
                <li class="applyxiala">应用 <i class="iconfont icon-xiala1"></i> <i class="iconline applyiconline"></i>
                    <div class="moreapply noselect wallet_moreapply">
                        <a href="./wallet_CH.html">FN钱包</a>
                        <a href="./client_CH.html">FN挖矿程序</a>
                        <a href="./fullnode_CH.html">PC全节点钱包</a>
                    </div>
                </li>
                <li class="applyxiala">共识机制 <i class="iconfont icon-xiala1"></i> <i class="iconline applyiconline"></i>
                    <div class="moreapply noselect wallet_moreapply">
                        <a href="./packagingnodes_CH.html">打包节点</a>
                        <a href="./supernode_CH.html">超级节点</a>
                        <a href="./managementact_CH.html">自治社区</a>
                    </div>
                </li>
                <li class="announce">
                    <a href="./informationcenter_CH.html">资讯中心</a>
                </li>
                <li class="applyxiala">商业生态 <i class="iconfont icon-xiala1"></i> <i class="iconline applyiconline"></i>
                    <div class="moreapply noselect wallet_moreapply">
                        <a href="https://www.ztiao.club" target="_blank">纸条</a>
                        <a href="./fogcomputing_CH.html" target="_blank">雾计算</a>
                    </div>
                </li>
                <li class="scan">
                    <a href="http://scan.filenet.io/#/" target="_blank">浏览器</a>
                </li>
                <li class="langxiala">简体中文 <i class="iconfont icon-xiala1"></i> <i class="iconline langiconline"></i>
                    <div class="morelang noselect wallet_morelang">
                        <a href="./informationcenter_EN.html">English</a>
                        <a href="./informationcenter_Kr.html">한국어</a>
                        <a href="./informationcenter_JP.html">日本語</a>
                        <a href="./informationcenter_RUS.html">русский</a>
                    </div>
                </li>
            </ul>
            <!-- fit -->
            <div class="header_more">
                <i class="iconfont icon-gengduo"></i>
            </div>
            <div class="header_more_box header_more_box_other">
                <a href="./index_CH.html">首页</a>
                <div pull-id="1" class="header_more_box_applyxiala header_more_box_xiala">应用 <i
                        class="iconfont icon-xiala1 myxiala"></i></div>
                <div class="header_more_box_moreapply header_more_box_pull">
                    <a href="./wallet_CH.html">FN钱包</a>
                    <a href="./client_CH.html">FN挖矿程序</a>
                    <a href="./fullnode_CH.html">PC全节点钱包</a>
                </div>
                <div pull-id="2" class="header_more_box_applyxiala header_more_box_xiala">共识机制 <i
                        class="iconfont icon-xiala1 myxiala myxiala_lang"></i></div>
                <div class="header_more_box_moreapply header_more_box_pull">
                    <a href="./packagingnodes_CH.html">打包节点</a>
                    <a href="./supernode_CH.html">超级节点</a>
                    <a href="./managementact_CH.html">自治社区</a>
                </div>
                <a href="./informationcenter_CH.html">资讯中心</a>
                <div pull-id="3" class="header_more_box_applyxiala header_more_box_xiala">商业生态 <i
                        class="iconfont icon-xiala1 myxiala myxiala_lang"></i></div>
                <div class="header_more_box_moreapply header_more_box_pull">
                    <a href="https://www.ztiao.club" target="_blank">纸条</a>
                    <a href="./fogcomputing_CH.html" target="_blank">雾计算</a>
                </div>
                <a href="http://scan.filenet.io/#/" target="_blank">浏览器</a>
                <div pull-id="4" class="header_more_box_langxiala header_more_box_xiala">简体中文 <i
                        class="iconfont icon-xiala1 myxiala myxiala_lang"></i>
                </div>
                <div class="header_more_box_morelang header_more_box_pull">
                    <a href="./informationcenter_EN.html">English</a>
                    <a href="./informationcenter_Kr.html">한국어</a>
                    <a href="./informationcenter_JP.html">日本語</a>
                    <a href="./informationcenter_RUS.html">русский</a>
                </div>
            </div>
        </div>
    </div>

    <!-- new version-->
    <div class="information">
        <div class="w1200">
            <div class="information_box_contain">
                <div class="information_box">
                    <a class="information_box_a" href="./informationcenter_news_CH.html">
                        <img class="information_box_img" src="../static/images/news_icon.png">
                        <p class="information_box_cntext">新闻</p>
                        <p class="information_box_entext">NEWS</p>
                    </a>
                </div>
                <div class="information_box">
                    <a class="information_box_a" href="./informationcenter_announcement_CH.html">
                        <img class="information_box_img" src="../static/images/announcement_icon.png">
                        <p class="information_box_cntext">公告</p>
                        <p class="information_box_entext">ANNOUNCEMENT</p>
                    </a>
                </div>
                <div class="information_box">
                    <a class="information_box_a" href="./informationcenter_FAQ_CH.html">
                        <img class="information_box_img" src="../static/images/problem_icon.png">
                        <p class="information_box_cntext">常见问题</p>
                        <p class="information_box_entext">FAQ</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- top&hot -->
    <div class="tophot">
        <div class="w1200 clearfix">
            <div class="tophot_top">
                <h5 class="tophot_h5">新闻动态</h5>
                <div class="tophot_top_content">
                    <!-- 六篇够了 -->
                    <div id="view"></div>
                    <!-- end -->
                    <!-- more -->
                    <div class="tophot_top_content_more">
                        <a href="./informationcenter_news_CH.html">点击查看更多</a>
                    </div>
                </div>
            </div>
            <div class="tophot_hot">
                <h5 class="tophot_h5 tophot_h5_top">推荐资讯</h5>
                <div class="tophot_top_content tophot_hot_content">
                    <!-- start -->
                    <div id="view_faq"></div>
                    <!-- end -->
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="wallet_footer">
        <div class="w1200">
            <p>© Copyright 2016-2020 filenet.io</p>
        </div>
    </div>

    <div style="display: none;">
        <script type="text/javascript" src="https://s9.cnzz.com/z_stat.php?id=1278307264&web_id=1278307264"></script>
    </div>

</body>

<!-- js -->
<script src="../static/js/jquery.min.js"></script>
<script src="../static/layer/layer.js"></script>
<script src="../static/layui/layui.js"></script>
<script src="../static/js/common.js"></script>
<script src="../static/js/baseurl.js"></script>

<script id="demo" type="text/html">
    {{# layui.each(d.list, function(index, item){ }}
    <a class="tophot_top_content_outerbox" href="./informationcenter_news_details_CH.html?id={{item.noticeId}}">
        <div class="tophot_top_content_innerbox">
            <img class="tophot_top_content_img" src="{{item.format}}">
            <div class="tophot_top_content_text">
                <p class="tophot_top_content_text_title oneline">{{item.noticeTitle}}</p>
                <p class="tophot_top_content_text_normal tophot_top_content_text_time">{{item.noticeTime}}</p>
                <p class="tophot_top_content_text_normal twolines">{{item.noticeNewsletter}}</p>
            </div>
        </div>
    </a>
    {{# }); }} {{# if(d.list.length === 0){ }} {{# } }}
</script>

<script id="demo_faq" type="text/html">
    {{# layui.each(d.list_faq, function(index, item){ }} {{# if(item.style == 4){ }}

    <a class="tophot_top_content_outerbox tophot_hot_content_outerbox"
        href="./informationcenter_news_details_CH.html?id={{item.noticeId}}">
        <div class="tophot_top_content_innerbox tophot_top_content_innerbox_hot">
            <p class="tophot_top_content_text_title tophot_hot_content_text_title oneline">{{item.noticeTitle}}</p>
            <p class="tophot_hot_content_text_time">{{item.noticeTime}}</p>
        </div>
        <!-- <i class="tophot_hot_new" ></i> -->
        {{#  if(item.sign == 1){ }}
            <i class="tophot_hot_new"></i>
        {{#  }  }} 
    </a>

    {{# } else { }}

    <a class="tophot_top_content_outerbox tophot_hot_content_outerbox"
        href="./informationcenter_announcement_details_CH.html?id={{item.noticeId}}">
        <div class="tophot_top_content_innerbox tophot_top_content_innerbox_hot">
            <p class="tophot_top_content_text_title tophot_hot_content_text_title oneline">{{item.noticeTitle}}</p>
            <p class="tophot_hot_content_text_time">{{item.noticeTime}}</p>
        </div>
        <!-- <i class="tophot_hot_new"></i> -->
        {{#  if(item.sign == 1){ }}
            <i class="tophot_hot_new"></i>
        {{#  }  }} 
    </a>

    {{# } }} {{# }); }} {{# if(d.list.length === 0){ }} {{# } }}
</script>

<script>

    var data = {
        "list": [],
        "list_faq": [],
    }

    // view
    layui.use(['laytpl'], function () {
        var laytpl = layui.laytpl;

        //loading
        var loading = layer.load(2, {
            shade: false
        });

        $.ajax({
            url: baseurl + '/nitice/findnew?noticeType=1', // 中文 新闻
            type: 'get',
            success: function (res) {
                layer.close(loading);
                // console.log(res);
                if (res.status == 200) {
                    data.list = res.data

                    var getTpl = demo.innerHTML,
                        view = document.getElementById('view');
                    laytpl(getTpl).render(data, function (html) {
                        view.innerHTML = html;
                    });

                } else {
                    alert(res.msg)
                }
            },
        })

        $.ajax({
            url: baseurl + '/nitice/recommend?noticeType=1', // 中文 faq
            type: 'get',
            success: function (res) {
                layer.close(loading);
                // console.log(res);
                if (res.status == 200) {
                    data.list_faq = res.data

                    var getTpl = demo_faq.innerHTML,
                        view = document.getElementById('view_faq');
                    laytpl(getTpl).render(data, function (html) {
                        view.innerHTML = html;
                    });

                } else {
                    alert(res.msg)
                }
            },
        })

    });
</script>

</html>