<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- title -->
    <title>Filenet</title>
    <!-- seo -->
    <meta name="keywords" content="filecoin,云存储,filecoin挖矿,ipfs,filenet,区块链云存储,ipfs矿机,ipfs矿工,ipfs挖矿" />
    <meta name="description"
        content="filenet.io社区Filenet与IPFS一起构成一个完整的产品。Filenet是构建在IPFS协议之上的激励层，它的底层功能包括分布式存储和分布式网络等,通过相应的命令行，即可实现对挖矿程序参数的配置、数据的上传、下载等。Filenet与IPFS一起构成一个完整的产品。">
    <!-- favicon -->
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
    <!-- layui css -->
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <!-- css -->
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/filenet_new.css">
    <!-- iconfont -->
    <link rel="stylesheet" href="../static/iconfont/iconfont.css">
</head>

<body>
    <!-- header -->
    <div class="header wallet_header">
        <div class="w1200">
            <h1 class="logo noselect">
                <a href="./index_Kr.html">
                    <img src="../static/images/logo.png">
                </a>
            </h1>
            <ul class="list noselect">
                <li class="home">
                    <a href="./index_Kr.html">홈</a>
                </li>
                <li class="applyxiala">신청 <i class="iconfont icon-xiala1"></i> <i class="iconline applyiconline"></i>
                    <!-- app -->
                    <div class="moreapply noselect wallet_moreapply">
                        <a href="./wallet_Kr.html">FN지갑</a>
                        <a href="./client_Kr.html">FN마이닝프로그램</a>
                        <a href="./fullnode_Kr.html">PC풀노드지갑</a>
                    </div>
                </li>
                <li class="announce">
                    <a href="./informationcenter_Kr.html">안내소</a>
                </li>
                <li class="applyxiala">비즈니스 생태 <i class="iconfont icon-xiala1"></i> <i
                        class="iconline applyiconline"></i>
                    <!-- app -->
                    <div class="moreapply noselect wallet_moreapply">
                        <a href="https://www.ztiao.club" target="_blank">ZTiao</a>
                        <a href="./fogcomputing_EN.html" target="_blank">Fog Computing</a>
                    </div>
                </li>
                <li class="announce">
                    <a href="http://scan.filenet.io/#/" target="_blank">브라우저</a>
                </li>
                <li class="langxiala">한국어 <i class="iconfont icon-xiala1"></i> <i class="iconline langiconline"></i>
                    <!-- lang -->
                    <div class="morelang noselect wallet_morelang">
                        <a href="./informationcenter_news_EN.html">English</a>
                        <a href="./informationcenter_news_CH.html">简体中文</a>
                        <a href="./informationcenter_news_JP.html">日本語</a>
                        <a href="./informationcenter_news_RUS.html">русский</a>
                    </div>
                </li>
            </ul>
            <!-- fit -->
            <div class="header_more">
                <i class="iconfont icon-gengduo"></i>
            </div>
            <div class="header_more_box header_more_box_other">
                <a href="./index_Kr.html">홈</a>
                <div pull-id="1" class="header_more_box_applyxiala header_more_box_xiala">신청 <i
                        class="iconfont icon-xiala1 myxiala"></i>
                </div>
                <div class="header_more_box_moreapply header_more_box_pull">
                    <a href="./wallet_Kr.html">FN지갑</a>
                    <a href="./client_Kr.html">FN마이닝프로그램</a>
                    <a href="./fullnode_Kr.html">PC풀노드지갑</a>
                </div>
                <a href="./informationcenter_Kr.html">안내소</a>
                <div pull-id="2" class="header_more_box_applyxiala header_more_box_xiala">비즈니스 생태 <i
                        class="iconfont icon-xiala1 myxiala myxiala_eco_Kr"></i>
                </div>
                <div class="header_more_box_moreapply header_more_box_pull">
                    <a href="https://www.ztiao.club" target="_blank">ZTiao</a>
                    <a href="./fogcomputing_EN.html" target="_blank">Fog Computing</a>
                </div>
                <a href="http://scan.filenet.io/#/" target="_blank">브라우저</a>
                <div pull-id="3" class="header_more_box_langxiala header_more_box_xiala">한국어 <i
                        class="iconfont icon-xiala1 myxiala myxiala_lang"></i>
                </div>
                <div class="header_more_box_morelang header_more_box_pull">
                    <a href="./informationcenter_news_EN.html">English</a>
                    <a href="./informationcenter_news_CH.html">简体中文</a>
                    <a href="./informationcenter_news_JP.html">日本語</a>
                    <a href="./informationcenter_news_RUS.html">русский</a>
                </div>
            </div>
        </div>
    </div>

    <!-- kuang -->
    <div class="informationcenter_news_outer">
        <div class="informationcenter_news_inner">

            <!-- nav start -->
            <div class="informationcenter_news_nav">
                <div class="informationcenter_news_nav_innerbox">
                    <a class="informationcenter_news_nav_a" href="./index_Kr.html">홈</a>
                    <span>></span>
                    <a class="informationcenter_news_nav_a" href="./informationcenter_Kr.html">안내소</a>
                    <span>></span>
                    <a class="informationcenter_news_nav_a" href="./informationcenter_news_Kr.html">뉴스</a>
                    <span>></span>
                    <span class="informationcenter_news_nav_this">자세한 뉴스</span>
                </div>
            </div>
            <!-- nav end -->

            <!-- news details start -->
            <div id="view"></div>
            <!-- news details end -->

        </div>
    </div>

    <!-- footer -->
    <div class="wallet_footer">
        <div class="w1200">
            <p>© Copyright 2016-2020 filenet.io</p>
        </div>
    </div>

    <div style="display: none;">
        <script type="text/javascript" src="https://s9.cnzz.com/z_stat.php?id=1278307264&web_id=1278307264"></script>
    </div>

</body>

<!-- js -->
<script src="../static/js/jquery.min.js"></script>
<script src="../static/layer/layer.js"></script>
<script src="../static/layui/layui.js"></script>
<script src="../static/js/common.js"></script>
<script src="../static/js/baseurl.js"></script>

<script id="demo" type="text/html">
    {{# layui.each(d.list, function(index, item){ }}
    <div class="news_details_box">
        <p class="news_details_title">{{item.noticeTitle}}</p>
        <p class="news_details_time">
            <span>Time:</span>
            <span>{{item.noticeTime}}</span>
        </p>
        <div>{{item.noticeContent}}</div>
    </div>
    {{# }); }} {{# if(d.list.length === 0){ }} {{# } }}
</script>

<script>
    var myid = window.location.href.split('?')[1].split('=')[1]

    var data = {
        "list": [],
    }

    // view
    layui.use(['laytpl', 'laypage'], function () {
        var laytpl = layui.laytpl;

        //loading
        var loading = layer.load(2, {
            shade: false
        });

        $.ajax({
            url: baseurl + '/nitice/one?id=' + myid, // 查看详情
            type: 'get',
            //
            success: function (res) {
                layer.close(loading);
                // console.log(res);
                if (res.status == 200) {
                    // 
                    data.list.push(res.data.sysNotice)

                    // console.log(data.list)

                    var getTpl = demo.innerHTML,
                        view = document.getElementById('view');
                    laytpl(getTpl).render(data, function (html) {
                        view.innerHTML = html;
                    });

                } else {
                    alert(res.msg)
                }
            },
        })
    });
</script>

</html>