<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Privacy agreement</title>
    <style>
        body,
        h2,
        h3,
        h4,
        h5 {
            font-size: 13px;
        }
        
        .wrapper {
            padding: .853333333rem;
        }
        
        .text-center {
            text-align: center;
        }
        
        .strong {
            font-weight: bold;
        }
        
        ol,
        ul {
            list-style: none;
        }
        
        ul,
        li {
            margin: 0;
            padding: 0;
        }
        
        p,
        li,
        .mb,
        h2,
        h3,
        h4,
        h5 {
            margin-bottom: .512rem;
        }
    </style>
</head>

<body>

    <section class="wrapper">
        <h1 class="text-center">Fn Wallet Terms of Service</h1>
        <p class="strong mb">Dear users:</p>
        <p class="strong mb">Before you use the Fn Wallet, please read the Fn Wallet Service Agreement and the related agreements mentioned below to ensure that you fully understand the terms of this Agreement and consider the risks yourself.</p>
        <section class="terms-area">
            <h2>Ⅰ. Confirmation and acceptance of this agreement</h2>
            <ul class="strong">
                <li>1.1 By downloading the Fn Wallet Software and creating or importing the Wallet,you are deemed to have fully read and accepted all the terms of this Agreement.This Agreement is effective immediately and is binding on both parties.</li>
                <li>1.2 This Agreement may be updated by the FN official at any time.Once the revised agreement is published on the FNQ wallet,it will automatically take effect immediately without further notice.After FN officially announces the terms of
                    the revised agreement,if you do not accept the revised terms,please stop using the Fn Wallet immediately,and your continued use of the Fn Wallet will be deemed to accept the revised agreement.</li>
                <li>1.3 If you are under the age of 18,or have no civil capacity or restricted capacity,please use the Fn Wallet under the guidance of your parent or guardian.</li>
            </ul>
        </section>
        <section class="terms-area">
            <h2>Ⅱ. Definition</h2>
            <ul>
                <li><span class="strong">2.1 Fn Wallet: </span>Refers to the decentralized wallet specially developed by FN to serve the FN main chain.Users can use Fn Wallet to store,transfer,exchange currency,etc.(there will be other related FN services
                    in the future).</li>
                <li>
                    <p class="strong">2.2 User: </p>
                    <ul>
                        <li class="strong">（1）The user must be a natural person with full civil capacity;</li>
                        <li>（2）If you use the Fn Wallet service for minors under the age of 18, you need to use the Fn Wallet under the guidance of your parent or guardian.Fn Wallet has the right to ask you and your parent or guardian to be responsible for
                            all consequences of using a Fn Wallet or restricting a person with civil capacity to engage in a transaction beyond the scope of his or her civil rights or capacity.</li>
                    </ul>
                </li>
                <li><span class="strong">2.3 Creating or Importing a Wallet: </span>Refers to the process of using Fn Wallet to confirm the fulfillment of this Agreement and to create or import a wallet.</li>
                <li><span class="strong">2.4 Wallet Password: </span>Refers to the password that the software operation interface prompts you to fill in the process of creating an Fn Wallet. This password is used to encrypt and protect the private key. As
                    a decentralized application, the wallet password is not stored on your mobile device or Fn Wallet server. Once lost, you will need to reset the new password with a clear text private key or mnemonic.</li>
                <li><span class="strong">2.5 Information Tip: </span>The information prompt content involved in the Fn Wallet app operation interface is recommended to follow the relevant steps.</li>
                <li><span class="strong">2.6 Private Key: </span>Consists of 256-bit random characters, which is the core of the user's own and use of digital tokens.</li>
                <li><span class="strong">2.7 Public key: </span>Generated by the private key by means of cryptographic principles, and used to generate the blockchain digital wallet address, the digital wallet address is the public collection address.</li>
                <li><span class="strong">2.8 Mnemonic: </span>Comply with the blockchain BIP39 industry standard, consisting of 12 (or 15/18/21/24) ordered words generated by a random algorithm. It is an easy-to-record expression of the private key, which
                    is convenient for users to backup and keep.</li>
                <li><span class="strong">2.9 Digital Token: </span>Refers to the type of digital token currently supported by Fn Wallet. This wallet only includes FN and ETH.</li>
                <li><span class="strong">2.10 Exchange </span>Refers to the process of using ETH token to exchange FN token at a certain rate.</li>
                <li><span class="strong">2.11 Locking: </span>The exchange of FN tokens will be released in 5 months,20% per month,and 20% will be released when the coin is exchanged for the first time.</li>
            </ul>
        </section>
        <section class="terms-area">
            <h2>Ⅲ. Service content</h2>
            <ul>
                <li><span class="strong">3.1 Create or import a wallet.</span>For digital tokens supported by Fn Wallets,you can use the Fn Wallet to generate new wallets or import compatible wallets generated by other wallet tools in the relevant blockchain
                    system.</li>
                <li><span class="strong">3.2 Transfer and Collection.</span>You can use the Fn Wallet's transfer and collection functions to manage the digital tokens,that is, use the private key for electronic signature,and modify the ledger of the relevant
                    blockchain.Transfer means that the payer uses the payee's blockchain address for the transfer operation,and the actual transfer and collection behavior takes place in the relevant blockchain system (not the Fn Wallet).</li>
                <li><span class="strong">3.3 Exchange.</span>You can use the exchange currency of the Fn Wallet to redeem the FN.The user enters the number of FNs that need to be redeemed.The Fn Wallet automatically calculates the number of ETHs to be paid
                    according to the exchange rate,and successfully completes the operation to complete the currency exchange process.</li>
                <li><span class="strong">3.4 Transaction history.</span>We will copy all or part of your transaction history through the blockchain system.However,the transaction records are subject to the records of the blockchain system.</li>
                <li><span class="strong">3.5 Suspension of service.</span>You know that based on the "irrevocable" nature of the blockchain system transaction,we can't suspend or cancel the transfer transaction, etc.,but under certain circumstances, we can
                    suspend or limit the operation of a user on the Fn Wallet app.</li>
                <li>3.6 Other services that the Fn Wallet considers necessary.</li>
            </ul>
            <ul class="strong">
                <li>
                    <p>Adhering to the decentralization of the blockchain, and in order to protect the digital token security of users,Fn Wallet provides decentralized services, which is greatly different from banking financial institutions.Users understand
                        that Fn Wallet does not provide the following services:
                    </p>
                    <ul>
                        <li>（1）Storing the user's wallet password(that is, the password set when the user creates/imports the wallet),the private key,and the mnemonic;</li>
                        <li>（2）Retrieving the user's wallet password,private key, and mnemonic;</li>
                        <li>（3）Freezing the wallet;</li>
                        <li>（4）Lost the wallet;</li>
                        <li>（5）Restoring the wallet;</li>
                        <li>（6）The transaction is rolled back.</li>
                    </ul>
                </li>
                <li>Since the Fn Wallet does not provide the above services,the user should keep the mobile device including the Fn Wallet,the backup Fn Wallet, the backup wallet password,the mnemonic,and the private key.If the user loses the mobile device,deletes
                    and does not back up the Fn Wallet,deletes and does not back up the wallet,the wallet is stolen or forgotten the wallet password,private key,mnemonic,Fn Wallet can not restore the wallet or retrieve the wallet password,private key,
                    help Words;if the user mishandles the transaction(such as the wrong transfer address)Fn Wallet can not cancel the transaction.</li>
            </ul>
        </section>
        <section class="terms-area">
            <h2>Ⅳ. Your rights and obligations</h2>
            <h4>4.1 Create or import a wallet</h4>
            <ul>
                <li><span class="strong">4.1.1 Creating or importing a wallet: </span>You have the right to create and/or import a wallet via Fn Wallet on your mobile device,have the right to set the wallet's wallet password and other information,and have
                    the right to use your own through the Fn Wallet app.The wallet performs transactions such as transfer and collection on the blockchain,and has the right to use the exchange function of the Fn Wallet to exchange ETH and FN.</li>
                <li><span class="strong">4.1.2 Authentication: </span>In accordance with the relevant laws,regulations and policies,specific users should complete relevant authentication in accordance with the prompts of the Fn Wallet when using the relevant
                    services provided by the Fn Wallet,and ask you to submit including but not limited to your name and identity.Personal information such as card number,mobile phone number, and bank card number information.Otherwise,the specific user
                    will not be able to use the service,and the loss caused by the delay of the specific user is at your own risk.</li>
                <li>4.1.3 Fn Wallet may develop different software versions for different terminal devices.You should choose to download the appropriate version for installation according to actual needs.If you obtain the software or the installation program
                    with the same name as the software from a third party that is not legally authorized,Fn Wallet will not be able to guarantee the normal use of the software,and it will not guarantee its security,so the loss will be borne by you.</li>
                <li class="strong">4.1.4 After the new version of the software is released,the old version of the software may not be available. Fn Wallets do not guarantee the security of legacy software,continue to be available,and provide appropriate customer service.Please
                    check and download the latest version at any time.</li>
            </ul>
            <h4>4.2 Use</h4>
            <ul>
                <li>4.2.1 <span class="strong">Users should keep their own information such as mobile devices,wallet
                        passwords,private keys,and mnemonics.The Fn Wallet is not responsible for keeping the above
                        information for the user.You are solely responsible for any risks,liabilities,losses,and
                        expenses incurred as a result of your loss of mobile devices,active or passive
                        disclosure,forgotten wallet passwords,private keys,mnemonics,or attacks,fraud,etc.</span>
                </li>
                <li>4.2.2 <span class="strong">Follow the information prompts.</span>You understand and agree to follow the information prompts that Fn Wallet has made to you,and follow the information prompts.Otherwise, all risks,liabilities,losses,expenses,etc.caused
                    by you shall be borne by you.
                </li>
                <li>4.2.3 <span class="strong">You understand and understand that Fn Wallet is not obligated to perform
                        due diligence obligations on linked third party DApp services or transactions,and you should
                        make investment decisions and assume the corresponding investment risks.</span></li>
                <li>4.2.4 <span class="strong">Actively complete the authentication.</span>When the Fn Wallet reasonably believes that your trading behavior or trading situation is abnormal,or that your identity information is suspected,or the Fn Wallet believes
                    that you should check your identity documents or other necessary documents,please actively cooperate with the Fn Wallet to check Your valid ID or other necessary documents will complete the relevant authentication in a timely manner.
                </li>
                <li>
                    <p class="strong">4.2.5 Transfers.</p>
                    <ul class="strong">
                        <li>（1）You are aware of the daily transfer limit and number of pens available to you in the Fn Wallet Service,which may be due to the country in which you use the transfer service,regulatory requirements,transfer purposes,Fn Wallet
                            Risk Control,and Authentication.Wait differently.</li>
                        <li>（2）You understand the "irrevocable" attribute based on the blockchain operation.When you use the Fn Wallet transfer function,you should bear the consequences of your operation errors(including but not limited to the wrong transfer
                            address,You choose the problem of transferring the node server yourself).</li>
                        <li>
                            <p>（3）You are aware that when using the Fn Wallet Service,the following circumstances may result in a transfer "transaction failure" or "package timeout":</p>
                            <ul class="deepest-list">
                                <li>a) Insufficient wallet balance;</li>
                                <li>b) Insufficient trade miners;</li>
                                <li>c) The blockchain execution contract code failed;</li>
                                <li>d) Exceed the payment amount specified by the regulatory authorities,Fn Wallet or laws and regulations;</li>
                                <li>e) Technical failures such as networks and equipment;</li>
                                <li>f) The blockchain network is congested,faulty,etc.,causing the transaction to be abandoned;
                                </li>
                                <li>g) Your address or counterparty address is identified as a special address,such as a high-risk address,an exchange address,an ICO address,a Token address,and so on.</li>
                            </ul>
                        </li>
                        <li>（4）You know that the Fn Wallet only provides you with the transfer tool.After you use the Fn Wallet to complete the transfer,the Fn Wallet fulfills all the obligations of the current service,and the Fn Wallet does not bear any
                            obligation for other disputes.</li>
                    </ul>
                </li>
                <li>4.2.6 <span class="strong">Legal compliance.</span>You know that when you operate the Fn Wallet or use the DApp on the Fn Wallet,you should follow the relevant laws and regulations and national policies.
                </li>
                <li>4.2.7 <span class="strong">Notice of Announcement.</span>Fn Wallet will send you notifications by means of website announcements,emails,text messages,phone calls,message center messages,pop-up reminders or client notifications,such as
                    notifying you of the progress of the transaction,or prompting you to do the relevant operations,please promptly Pay attention to it.</li>
                <li>
                    <p class="strong">4.2.8 Service fees and tax obligations:</p>
                    <ul>
                        <li>（1）Fn Wallet will not charge you any service fees or handling fees for the time being,and will be agreed or announced in the future when certain services are charged.</li>
                        <li class="strong">（2）You should pay the miner fee when you use the Fn Wallet to transfer funds.The amount is up to you.Miner fees are charged by the relevant blockchain system;</li>
                        <li class="strong">（3）You know that under certain circumstances,because your environment and network status are unstable,your transfer operation will not be completed,and the miners will be charged by the relevant blockchain system;</li>
                        <li>（4）You are responsible for all taxable and other expenses incurred as a result of trading in the Fn Wallet.</li>
                    </ul>
                </li>
            </ul>
        </section>
        <section class="terms-area">
            <h2>Ⅴ. Risk warning</h2>
            <ul class="strong">
                <li>5.1 You understand and understand that due to the fact that the laws,regulations and policies in the field of digital tokens are not yet sound,digital tokens in this field may have significant risks such as unfulfillable and technical
                    instability.And the price fluctuation of digital tokens is much higher than other financial assets.We caution you to rationally choose to hold or dispose of any type of digital token based on your financial situation and risk appetite.The
                    market view function provided by the Fn Wallet only captures the search results of the digital token exchange rate information of some exchanges,and does not indicate the latest market or best offer.</li>
                <li>5.2 When using Fn Wallet Service,if you or your counterparty fails to comply with the operation instructions and rules in this agreement or related website description,transaction,payment page,Fn Wallet does not guarantee the completion
                    of the transaction,and Fn Wallet does not bear Liability for damages.In the event that the foregoing occurs and the funds have been credited to your or your counterparty's Fn Wallet or third party wallet,you understand the “irreversible”
                    nature of the blockchain operation and the “unreversible” characteristics of the relevant transaction.You and your counterparts bear the corresponding risk consequences.</li>
                <li>5.3 When you use the Fn Wallet to integrate third-party DApp services or conduct transactions,for your benefit,Fn Wallet recommends that you carefully read this agreement and Fn Wallet tips,understand the transaction object and product
                    information,and carefully assess the risk before taking action.All transactions you make in a third-party DApp are your personal actions,and a binding contractual relationship is established between you and your opposing party,regardless
                    of the Fn Wallet.Fn Wallet is not responsible for all risks,liabilities,losses and expenses caused by your trading behavior.</li>
                <li>5.4 During the course of the transaction,you should judge whether the other party is a fully civil servant and decide whether to trade or transfer the other party to the other party,and you bear all risks associated with it.</li>
                <li>5.5 During the transfer process,if there is a similar information such as “transaction failure”,“package timeout”,etc.,you should reconfirm through the official route of the relevant blockchain system or other blockchain query tools to
                    avoid Repeat the transfer;otherwise, all losses and expenses caused by this shall be borne by you.</li>
                <li>5.6 You understand that when you create or import a wallet on an Fn Wallet,your private key,mnemonic,etc.are only stored in the current mobile device and are not stored on the Fn Wallet or Fn Wallet server.You can change your mobile device
                    by using a sync wallet,etc.,according to the instructions provided by the Fn Wallet.However,if you do not save or back up your wallet password,private key, mnemonic,etc.and your mobile device is lost,your digital token will be lost,Fn
                    Wallet can not be retrieved for you,you have to bear it.Corresponding losses.If you divulge,export,or back up your wallet password,private key,mnemonic,etc.,or if the device or server that saves or backs up the above information is
                    hacked or controlled,your digital token will be lost.Fn Wallet can't be retrieved for you,you have to bear the corresponding losses.</li>
                <li>5.7 We recommend that you make a secure backup of your wallet's wallet password,private key,mnemonic,etc.when creating or importing your wallet.We recommend that you copy information such as mnemonics on a paper notebook,and you can also
                    keep your electronic data in the password manager.
                </li>
                <li>5.8 We recommend that you use Fn Wallet in a secure network environment to ensure that your mobile device is not jailbroken or root to avoid possible security risks.</li>
                <li>5.9 Please be alert to the official fraud of non-Fn Wallets during the use of our services.Once we find such behavior,we encourage you to let us know as soon as possible.</li>
            </ul>
        </section>
        <section class="terms-area">
            <h2>Ⅵ. Service change, interruption, termination</h2>
            <ul class="strong">
                <li>6.1 You agree that the Fn Wallet may temporarily provide some service functions to ensure the autonomy of the business operation,or suspend some service functions or open new service functions in the future.When any function is reduced
                    or increased or changed,as long as you still use the services provided by Fn Wallet,you still agree to this agreement or the amended agreement.</li>
                <li>6.2 To protect your digital token security,try to avoid the misuse or risk caused by using the Fn Wallet without the basic knowledge of the blockchain.</li>
                <li>
                    <p>6.3 You understand that the Fn Wallet will suspend the provision of services in the following circumstances:
                    </p>
                    <ul>
                        <li>（1）The business is interrupted due to technical reasons such as equipment,blockchain system maintenance,upgrade,failure and communication interruption;</li>
                        <li>（2）Due to force majeure factors such as typhoon,earthquake,tsunami,flood,power outage,war or terrorist attack,viruses,Trojans,hackers,system instability or government behavior,etc.,the Fn Wallet system cannot provide services or
                            the Fn Wallet reasonably believes Continue to provide services will be more risky;</li>
                        <li>（3）Other circumstances in which the Fn Wallet cannot be controlled or reasonably foreseen.
                        </li>
                    </ul>
                </li>
                <li>
                    <p>6.4 The Fn Wallet may unilaterally suspend or terminate some or all of your use of the Fn Wallet when you:</p>
                    <ul>
                        <li>（1）The user dies;</li>
                        <li>（2）Stealing other people's wallet information or mobile devices;</li>
                        <li>（3）Providing false information when filling in personal information,and not operating when answering the ability assessment questionnaire;</li>
                        <li>（4）Rejecting the mandatory update operation initiated by the Fn Wallet to enhance the Fn Wallet function;</li>
                        <li>（5）Use the Fn Wallet for illegal or criminal activities;</li>
                        <li>（6）Hinder the normal use of other users;</li>
                        <li>（7）Staff or management personnel who falsely call the Fn Wallet;</li>
                        <li>（8）Attacking, invading, altering, or otherwise threatening the normal operation of the Fn Wallet computer system;</li>
                        <li>（9）Use the Fn Wallet to promote spam ads;</li>
                        <li>（10）Spread rumors and damage the goodwill of Fn Wallets and Fn Wallets;</li>
                        <li>（11）Violations,other violations of this Agreement,and circumstances in which the Fn Wallet reasonably believes that the function should be suspended.</li>
                    </ul>
                </li>
                <li>6.5 When the service relationship between you and the Fn Wallet is changed,interrupted or terminated,you still have the right to export information such as your wallet within a reasonable time.
                </li>
            </ul>
        </section>
        <section class="terms-area">
            <h2>Ⅶ. Your commitment to legally use the Fn Wallet service</h2>
            <ul class="strong">
                <li>7.1 You shall abide by the laws and regulations of the international and the countries or regions in which you live,and may not use the Fn wallet for any illegal purposes,nor use the Fn wallet service in any illegal way.</li>
                <li>
                    <p>7.2 You may not use Fn Wallets to engage in illegal or criminal conduct,including but not limited to:
                    </p>
                    <ul>
                        <li>（1）Engage in any criminal activity,including but not limited to money laundering,illegal fund raising,etc.;</li>
                        <li>（2）Intervene or attempt to intervene in any user or by using any automated program,software,engine web crawler,web analytics tool,data mining tool or similar tool to access the Fn Wallet service,collect or process the content provided
                            by the Fn Wallet Any other way to access the Fn Wallet service;</li>
                        <li>（3）Providing gambling information or inducing others to participate in gambling in any way;
                        </li>
                        <li>（4）Invade other people's Fn Wallet to steal digital tokens;</li>
                        <li>（5）Conducting a transaction that is inconsistent with the transaction content claimed by the counterparty,or an untrue transaction;</li>
                        <li>（6）Engage in any act that infringes or may infringe on the Fn Wallet service system and data;
                        </li>
                        <li>（7）Other violations and Fn Wallet have legitimate reasons to believe that it is inappropriate.
                        </li>
                    </ul>
                </li>
                <li>7.3 You understand and agree that if you breach the relevant laws(including but not limited to customs and tax regulations)or the provisions of this Agreement,the Fn Wallet will suffer any loss,claim by any third party or any administrative
                    department Penalties,you should pay compensation for Fn Wallets,including reasonable attorney fees.</li>
                <li>7.4 You are committed to paying the Fn Wallet's service fees(if any)on time,otherwise the Fn Wallet reserves the right to suspend or suspend the services provided to you.</li>
            </ul>
        </section>
        <section class="terms-area">
            <h2>Ⅷ. Disclaimer and Limitation of Liability</h2>
            <ul class="strong">
                <li>8.1 Fn Wallet is solely responsible for the obligations set forth in this Agreement.</li>
                <li>
                    <p>8.2 You understand and agree that,to the extent permitted by law,Fn Wallet can only provide services in accordance with the current state of the art and conditions.The Fn Wallet is not responsible for the service due to the following
                        reasons,the Fn Wallet is not responsible for:
                    </p>
                    <ul>
                        <li>（1）Fn Wallet system shutdown maintenance or upgrade;</li>
                        <li>（2）Force majeure causes such as typhoons,earthquakes,floods,lightning or terrorist attacks;
                        </li>
                        <li>（3）The hardware and software of your mobile device and the communication line and power supply line are faulty;</li>
                        <li>（4）You use the Fn Wallet Service in a way that you have improperly operated or have not authorized or approved by the Fn Wallet;</li>
                        <li>（5）Causes due to viruses,Trojans,malicious program attacks,network congestion,system instability,system or equipment failure,communication failures,power failures,banks,etc.,or government actions;</li>
                        <li>（6）Any other reason not caused by the Fn Wallet.</li>
                    </ul>
                </li>
                <li>
                    <p>8.3 Fn Wallet is not responsible for the following situations:</p>
                    <ul>
                        <li>（1）Loss of digital tokens caused by the user losing the mobile device,deleting and not backing up the Fn Wallet,deleting and not backing up the wallet,stealing the wallet or forgetting the wallet password,private key, and mnemonic;</li>
                        <li>（2）The user may divulge the wallet password,private key,mnemonic,or borrow,transfer or authorize others to use their mobile device or Fn Wallet,or download the Fn Wallet application or other unsafe through the Fn Wallet official
                            channel.Way to use the Fn Wallet app to cause the loss of digital tokens;</li>
                        <li>（3）Loss of digital tokens due to user misuse(including but not limited to the problem of transposing the wrong transfer address and your own choice of transfer node server);</li>
                        <li>（4）Loss of digital tokens caused by misuse of the user's incomprehension of the nature of the blockchain technology;</li>
                        <li>（5）Due to time lag,unstable blockchain system,etc.,the Fn Wallet copy user's transaction record on the blockchain is deviated;</li>
                        <li>（6）The risks and consequences of the user's operation on the third-party DApp.</li>
                    </ul>
                </li>
                <li>8.4 You understand that Fn Wallet is only used as a tool for your digital token management.Fn Wallet cannot control the quality, security or legality of the products and services provided by third party DApps,the authenticity or accuracy
                    of the information,and the ability of the opposing party to fulfill its obligations under the agreement with you.All transactions you make in a third-party DApp are your personal actions,and a binding contractual relationship is established
                    between you and your opposing party,regardless of the Fn Wallet.The Fn Wallet reminds you that you should use your discretion to determine the authenticity,legality and validity of the login DApp and related information.The risks arising
                    from your dealings with any third party are also at your own risk.
                </li>
                <li>8.5 Fn Wallet may provide services to you and your counterparties at the same time.You agree to expressly exempt any actual or potential conflict of interest from such actions that may exist in the Fn Wallet,and may not claim that the
                    Fn Wallet is providing the Services.There is a legal flaw,and it does not increase the responsibility or duty of attention of the Fn Wallet.</li>
                <li>
                    <p>8.6 Fn Wallet does not provide the following forms of guarantee:</p>
                    <ul>
                        <li>（1）Fn Wallet service will meet all your needs;</li>
                        <li>（2）Any technology, products, services and information you obtain through the Fn Wallet Service will meet your expectations;</li>
                        <li>（3） Fn Wallet guarantees the timeliness, accuracy,completeness and reliability of information such as the digital token market trading market captured by third-party exchanges;
                        </li>
                        <li>（4）The parties to your transaction on the Fn Wallet will promptly perform their obligations in the transaction agreement with you.</li>
                    </ul>
                </li>
                <li>8.7 In any case, the total liability of the Fn Wallet for breach of contract in this Agreement shall not exceed 0.1 Ethereum;</li>
                <li>8.8 You understand that Fn Wallet is only used as a tool for users to manage digital tokens and display transaction information.Fn Wallet does not provide legal,tax or investment advice.You should seek advice from professionals in the
                    legal,tax,and investment fields,and you will not be responsible for the investment losses,data loss,etc.that you suffer from using our services.
                </li>
            </ul>
        </section>
        <section class="terms-area">
            <h2>Ⅸ. Intellectual Property Protection</h2>
            <ul>
                <li>Fn Wallet is an application developed and owned by the FN team.The intellectual property of any content displayed in the Fn Wallet(including this Agreement, Announcements,Articles,Videos,Audio,Images,Archives,Information,Materials,Trademarks
                    or Logos)is owned by the Fn Wallet or third party rights holders.The user can only use the Fn Wallet application and its contents for the purpose of holding and managing digital tokens.No one may use,modify,reverse compile,reproduce,publicly
                    distribute,alter, distribute,distribute or publicly publish such applications and content without the prior written consent of the Fn Wallet or third party rights holders.
                </li>
            </ul>
        </section>
        <section class="terms-area">
            <h2>Ⅹ. Legal application and dispute resolution</h2>
            <ul>
                <li>10.1 The validity,interpretation,alteration,enforcement and dispute resolution of this Agreement and its amendments apply to international business practices and/or industry practices.</li>
                <li>10.2 If there is any dispute or dispute between you and the Fn Wallet,it should first be settled through friendly negotiation.If the negotiation fails,either party may submit the jurisdiction of the people's court under the jurisdiction
                    of the Fn Wallet.</li>
            </ul>
        </section>
        <section class="terms-area">
            <h2>Ⅺ. Other</h2>
            <ul>
                <li>10.1 If you encounter any problems while using the Fn Wallet service,you can contact us by submitting feedback in the Fn Wallet.</li>
                <li>10.2 You may view this Agreement in the Fn Wallet.Fn Wallet encourages you to check the Fn Wallet's service agreement every time you access the Fn Wallet.</li>
                <li>10.3 This Agreement shall apply from September 1,2018.</li>
            </ul>
        </section>
        <p class="strong last">
            For matters not covered in this Agreement,you are subject to the announcements and related rules that the Fn Wallet updates from time to time.
        </p>
    </section>

    <div style="display: none;">
        <script type="text/javascript" src="https://s9.cnzz.com/z_stat.php?id=1278307264&web_id=1278307264"></script>
    </div>

</body>

</html>