<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- title -->
    <title>Filenet</title>
    <!-- seo -->
    <meta name="keywords" content="filecoin,云存储,filecoin挖矿,ipfs,filenet,区块链云存储,ipfs矿机,ipfs矿工,ipfs挖矿" />
    <meta name="description"
        content="filenet.io社区Filenet与IPFS一起构成一个完整的产品。Filenet是构建在IPFS协议之上的激励层，它的底层功能包括分布式存储和分布式网络等,通过相应的命令行，即可实现对挖矿程序参数的配置、数据的上传、下载等。Filenet与IPFS一起构成一个完整的产品。">
    <!-- favicon -->
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
    <!-- css -->
    <link rel="stylesheet" href="../static/css/aos.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/filenet_new.css">
    <!-- iconfont -->
    <link rel="stylesheet" href="../static/iconfont/iconfont.css">

</head>

<body>
    <!-- header -->
    <div class="header wallet_header">
        <div class="w1200">
            <h1 class="logo noselect">
                <a href="./index_Kr.html">
                    <img src="../static/images/logo.png">
                </a>
            </h1>
            <ul class="list noselect">
                <li class="home">
                    <a href="./index_Kr.html">홈</a>
                </li>
                <li class="applyxiala">신청 <i class="iconfont icon-xiala1"></i> <i class="iconline applyiconline"></i>
                    <!-- app -->
                    <div class="moreapply noselect wallet_moreapply">
                        <a href="./wallet_Kr.html">FN지갑</a>
                        <a href="./client_Kr.html">FN마이닝프로그램</a>
                        <a href="./fullnode_Kr.html">PC풀노드지갑</a>
                    </div>
                </li>
                <li class="announce">
                    <a href="./informationcenter_Kr.html">안내소</a>
                </li>
                <li class="applyxiala">비즈니스 생태 <i class="iconfont icon-xiala1"></i> <i
                        class="iconline applyiconline"></i>
                    <!-- app -->
                    <div class="moreapply noselect wallet_moreapply">
                        <a href="https://www.ztiao.club" target="_blank">ZTiao</a>
                        <a href="./fogcomputing_EN.html" target="_blank">Fog Computing</a>
                    </div>
                </li>
                <li class="announce">
                    <a href="http://scan.filenet.io/#/" target="_blank">브라우저</a>
                </li>
                <li class="langxiala">한국어 <i class="iconfont icon-xiala1"></i> <i class="iconline langiconline"></i>
                    <!-- lang -->
                    <div class="morelang noselect wallet_morelang">
                        <a href="./wallet_EN.html">English</a>
                        <a href="./wallet_CH.html">简体中文</a>
                        <a href="./wallet_JP.html">日本語</a>
                        <a href="./wallet_RUS.html">русский</a>
                    </div>
                </li>
            </ul>
            <!-- fit -->
            <div class="header_more">
                <i class="iconfont icon-gengduo"></i>
            </div>
            <div class="header_more_box header_more_box_other">
                <a href="./index_Kr.html">홈</a>
                <div pull-id="1" class="header_more_box_applyxiala header_more_box_xiala">신청 <i
                        class="iconfont icon-xiala1 myxiala"></i>
                </div>
                <div class="header_more_box_moreapply header_more_box_pull">
                    <a href="./wallet_Kr.html">FN지갑</a>
                    <a href="./client_Kr.html">FN마이닝프로그램</a>
                    <a href="./fullnode_Kr.html">PC풀노드지갑</a>
                </div>
                <a href="./informationcenter_Kr.html">안내소</a>
                <div pull-id="2" class="header_more_box_applyxiala header_more_box_xiala">비즈니스 생태 <i
                        class="iconfont icon-xiala1 myxiala myxiala_eco_Kr"></i>
                </div>
                <div class="header_more_box_moreapply header_more_box_pull">
                    <a href="https://www.ztiao.club" target="_blank">ZTiao</a>
                    <a href="./fogcomputing_EN.html" target="_blank">Fog Computing</a>
                </div>
                <a href="http://scan.filenet.io/#/" target="_blank">브라우저</a>
                <div pull-id="3" class="header_more_box_langxiala header_more_box_xiala">한국어 <i
                        class="iconfont icon-xiala1 myxiala myxiala_lang"></i>
                </div>
                <div class="header_more_box_morelang header_more_box_pull">
                    <a href="./wallet_EN.html">English</a>
                    <a href="./wallet_CH.html">简体中文</a>
                    <a href="./wallet_JP.html">日本語</a>
                    <a href="./wallet_RUS.html">русский</a>
                </div>
            </div>
        </div>
    </div>

    <!-- top -->
    <div class="wallet_top">
        <div class="w1200">
            <div class="wallet_introduction wallet_introduction_Kr">
                <h1 data-aos="fade-up">Fn 디지털 통화 지갑</h1>
                <p data-aos="fade-up" data-aos-delay="200" class="wallet_introduction_txt">Fn Wallet은 Filenet 커뮤니티가 FN
                    자산에 안전하고 신속하며 효율적이고 투명한 원 스톱 Fn 토큰 관리 서비스를 제공하기 위해 시작한 세계 최초의 Fn 독점 지갑입니다
                </p>
                <p data-aos="fade-up" data-aos-delay="200" class="wallet_introduction_dot">
                    <i class="doticon"></i> 한 번에 지갑 만들기
                </p>
                <p data-aos="fade-up" data-aos-delay="200" class="wallet_introduction_dot">
                    <i class="doticon"></i> 안전하고 안전한 백업 부팅
                </p>
                <p data-aos="fade-up" data-aos-delay="200" class="wallet_introduction_dot">
                    <i class="doticon"></i> 지갑 가져 오기, 다양한 방법 선택
                </p>
                <p data-aos="fade-up" data-aos-delay="200" class="wallet_introduction_dot">
                    <i class="doticon"></i> 니모닉 / 개인 키 / 키 저장소, 분실 방지 백업
                </p>
                <p data-aos="fade-up" data-aos-delay="200" class="wallet_introduction_dot wallet_introduction_dot_last">
                    <i class="doticon"></i> FN의 독점적 인 지갑은 원 스톱 FN 토큰 서비스를 제공합니다
                </p>
                <div data-aos="fade-up" data-aos-delay="400"
                    class="wallet_button wallet_button_ios wallet_button_ios_Kr">
                    <a href="https://apps.apple.com/cn/app/fnwallet/id1508319234" target="_blank">
                        <i class="ios"></i> IOS 다운로드
                    </a>
                    <!-- <a href="javascript:void(0);" style="padding-left: 56px;">
                        <i class="ios" style="left: 24px;"></i> IOS 다운로드 (검토 중)
                    </a> -->
                </div>
                <div data-aos="fade-up" data-aos-delay="400" class="wallet_button wallet_button_Kr">
                    <a href="http://filenet.io/apkUrl/download/Android">
                        <i class="android"></i> ANDROID 다운로드
                    </a>
                </div>
            </div>
            <div class="wallet_img" data-aos="fade-up" data-aos-delay="300">
                <img src="../static/images/wallet_show.png">
            </div>
        </div>
    </div>

    <!-- bottom -->
    <div class="wallet_bottom">
        <div class="w1200">
            <div class="wallet_bottom_use">
                <h2 data-aos="fade-up">지갑을 사용하는 방법? <i class="lineicon"></i> </h2>
                <div class="wallet_bottom_usestep" data-aos="fade-up" data-aos-delay="200">
                    <div class="wallet_bottom_usebox">
                        <img src="../static//images/walletStep1.png">
                        <p class="step">Step 1</p>
                        <p class="stepcontent">새 지갑을 만들거나 지갑을 가져와 니모닉을 백업</p>
                    </div>
                    <div class="wallet_bottom_usebox">
                        <img src="../static//images/walletStep2.png">
                        <p class="step">Step 2</p>
                        <p class="stepcontent">양도, 양도, 계약, 수령을 포함한 거래에 지갑 사용</p>
                    </div>
                    <div class="wallet_bottom_usebox">
                        <img src="../static//images/walletStep3.png">
                        <p class="step">Step 3</p>
                        <p class="stepcontent">지폐보기, 세부 사항을 알기 위해 청구서 확인</p>
                    </div>
                </div>
            </div>
            <!-- <div class="wallet_bottom_contract">
                <h2 data-aos="fade-up">계약이란 무엇입니까? <i class="lineicon"></i> </h2>
                <p data-aos="fade-up" data-aos-delay="200">
                    계약은 계약을 통해 공통 노드와 수퍼 노드 사이의 새로운 마이닝 모드입니다. 사전 선택된 수퍼 노드는 계약을 통해 일정 금액의 통화를 잠그기 위해 특정 계약 기간을 선택할 수
                    있습니다. 감사가 성공한 후에 수퍼 노드가 될 수 있습니다.
                </p>
                <p data-aos="fade-up" data-aos-delay="300">
                    보통 노드는 성공적으로 선출 된 슈퍼 노드에 투표합니다. 계약 모드는 마이닝 매개 변수에 영향을 미치고 터질 확률을 높일 수 있습니다.
                </p>
            </div>
            <div class="wallet_bottom_img" data-aos="fade-up" data-aos-delay="300">
                <img src="../static/images/wallet_wenhao.png">
            </div> -->
        </div>
    </div>

    <!-- footer -->
    <div class="wallet_footer">
        <div class="w1200">
            <p>© Copyright 2016-2020 filenet.io</p>
        </div>
    </div>

    <div style="display: none;">
        <script type="text/javascript" src="https://s9.cnzz.com/z_stat.php?id=1278307264&web_id=1278307264"></script>
    </div>

</body>


<!-- js -->
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/aos.js"></script>
<script src="../static/js/aosindex.js"></script>
<script src="../static/js/common.js"></script>

</html>